{% extends "pc/base.html" %}
{% block title %}关于比爱{% endblock %}
{% block main %}
		<div class="about-container">
		<p>岫鸿玩具厂自创立起一直秉承“同父母一起，给予宝宝无限的关爱”的使命，结合欧美日韩先进早教理念，从中国市场出发，为消费者打造一系列具有自身特色的玩具。旗下自主品牌“比爱”和“迪孚”是多年来婴幼领域的两座丰碑。</p>
		<p>作为集开发、生产、销售为一体的综合性企业，岫鸿玩具始终如一聚集经历于设计创新，推陈出新，旨为不同年龄阶段的婴孩提供最合适的启蒙方式、以自身沉淀的精湛工艺成为父母的信赖保障。</p>
		<p>我们不断前进，力争在巨大的商机洪流中抓住发展机遇，冲上二胎政策这个高飞的浪涌。</p>
		<p>我们和谐温馨，包容含纳各路英才，以人为本，奉全新与您一起开创婴幼新路。</p>
		<p>我们务实创新，不拘一格，灵感迸发与细节至上一直是岫鸿人的追求。</p>
		<p>2016年，我们邀您一同前行。</p>
		</div>
{% endblock %}