<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-3.3.1.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% endblock %}
</head>
<body>
	<header>
		{% block header %}
		<div class="header-block">
			<a id="logo" href="http://weibo.com/u/2584433424/home"><img src="{{ url_for('static', filename='img/icon/slogan.png') }}" alt="logo"></a>
			<div class="header-link">
				<div class="link-item" id="wechat-link">微信公众号</div>
				<div class="link-item" id="tmall-link">官方商场</div>
				<div class="link-item">English</div>
			</div>
		</div>
		<nav class="header-nav">
			<a class="header-nav-item" href="/">首页</a>
			<a class="header-nav-item" href="/about">关于比爱</a>
			<a class="header-nav-item" href="/news">新闻动态</a>
			<a class="header-nav-item" href="/shop">产品中心</a>
			<a class="header-nav-item" href="/creativity">创意中心</a>
			<a class="header-nav-item" href="/join_us">加入我们</a>
			<!-- <a id="nav-market" class="header-nav-item" href="#">官方商城</a> -->
			<div id="nav-market" class="header-nav-item">
				<a class="dropdown-btn" href="#">官方商城</a>
				<div class="dropdown">
					<a href="#">1688官网</a>
					<a href="#">比爱企业店</a>
				</div>
			</div>
			<a class="header-nav-item" href="/contact">联系我们</a>
			<input type="text" placeholder="请输入搜索内容">
		</nav>
		{% endblock %}
	</header>
	<main>
		{% block main %}
		{% endblock %}
	</main>
	<footer>
		{% block footer %}
		<div class="footer-info">
			<p>广东省汕头市澄海区岫泓玩具</p>
			<p>服务热线：0754-86986938</p>
			<p>地址：汕头市澄海区莱美工业区海升路2号</p>
			<p>备案编号：ISD900876544</p>
		</div>
		<img id="qr-code" src="{{ url_for('static', filename='img/icon/qr-code.png') }}" alt="qr-code">
		{% endblock %}
	</footer>
	{% block script %}
	<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/swiper-3.3.1.min.js') }}"></script>
	{% endblock %}
</body>
</html>