<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-3.3.1.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link href="http://vjs.zencdn.net/5.11.6/video-js.css" rel="stylesheet">
	{% endblock %}
	{% endblock %}
</head>
<body>
	<header>
		{% block header %}
		<div class="header-container-white">
			<div class="header-block">
				<a id="logo" href="/"><img src="{{ url_for('static', filename='img/icon/slogan.png') }}" alt="logo"></a>
				<div class="header-link">
<!--                     <div class="link-item" id="wechat-link">{{ _('微信公众号') }}</div>
					<div class="link-item" id="tmall-link">官方商场</div> -->
					{% if locale == "zh_CN" %}
						<a class="link-item" href="http://{{ site_domain }}">English</a>
					{% else %}
						<a class="link-item" href="http://{{ site_domain }}">中文</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="header-container-purple">
			<div class="header-nav-container">
				<nav class="header-nav">
	<!-- 				<a class="header-nav-item {% if cur_nav_meta_name == 'main' %}chosen{% endif %}" href="{{ nav_dict['main'].link }}">{{ nav_dict['main'].title }}</a>
					<a class="header-nav-item {% if cur_nav_meta_name == 'about' %}chosen{% endif %}" href="{{ nav_dict['about'].link }}">{{ nav_dict['about'].title }}</a>
					<a class="header-nav-item {% if cur_nav_meta_name == 'news' %}chosen{% endif %}" href="{{ nav_dict['news'].link }}">{{ nav_dict['news'].title }}</a>
					<a class="header-nav-item {% if cur_nav_meta_name == 'product' %}chosen{% endif %}" href="{{ nav_dict['product'].link }}">{{ nav_dict['product'].title }}</a>
					<a class="header-nav-item {% if cur_nav_meta_name == 'creativity' %}chosen{% endif %}" href="{{ nav_dict['creativity'].link }}">{{ nav_dict['creativity'].title }}</a>
					<a class="header-nav-item {% if cur_nav_meta_name == 'join_us' %}chosen{% endif %}" href="{{ nav_dict['join_us'].link }}">{{ nav_dict['join_us'].title }}</a>
					<div class="header-nav-item nav-dropdown">
						<a class="dropdown-btn" href="#">{{ nav_dict['shop'].title }}</a>
						<div class="dropdown">
							{% for subnavs in nav_dict['shop'].subnavs %}
								<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
							{% endfor %}
						</div>
					</div>
					<a class="header-nav-item {% if cur_nav_meta_name == 'contact' %}chosen{% endif %}" href="{{ nav_dict['contact'].link }}">{{ nav_dict['contact'].title }}</a> -->
					{% if nav_dict['main'].subnavs == [] %}
						<a class="header-nav-item {% if cur_nav_meta_name == 'main' %}chosen{% endif %}" href="{{ nav_dict['main'].link }}">{{ nav_dict['main'].title }}</a>
					{% else %}
						<div class="header-nav-item nav-dropdown">
							<a class="dropdown-btn" href="#">{{ nav_dict['main'].title }}</a>
							<div class="dropdown">
								{% for subnavs in nav_dict['main'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['about'].subnavs == [] %}
						<a class="header-nav-item {% if cur_nav_meta_name == 'about' %}chosen{% endif %}" href="{{ nav_dict['about'].link }}">{{ nav_dict['about'].title }}</a>
					{% else %}
						<div class="header-nav-item nav-dropdown">
							<a class="dropdown-btn" href="#">{{ nav_dict['about'].title }}</a>
							<div class="dropdown">
								{% for subnavs in nav_dict['about'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['news'].subnavs == [] %}
						<a class="header-nav-item {% if cur_nav_meta_name == 'news' %}chosen{% endif %}" href="{{ nav_dict['news'].link }}">{{ nav_dict['news'].title }}</a>
					{% else %}
						<div class="header-nav-item nav-dropdown">
							<a class="dropdown-btn" href="#">{{ nav_dict['news'].title }}</a>
							<div class="dropdown">
								{% for subnavs in nav_dict['news'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['product'].subnavs == [] %}
						<a class="header-nav-item {% if cur_nav_meta_name == 'product' %}chosen{% endif %}" href="{{ nav_dict['product'].link }}">{{ nav_dict['product'].title }}</a>
					{% else %}
						<div class="header-nav-item nav-dropdown">
							<a class="dropdown-btn" href="#">{{ nav_dict['product'].title }}</a>
							<div class="dropdown">
								{% for subnavs in nav_dict['product'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['creativity'].subnavs == [] %}
						<a class="header-nav-item {% if cur_nav_meta_name == 'creativity' %}chosen{% endif %}" href="{{ nav_dict['creativity'].link }}">{{ nav_dict['creativity'].title }}</a>
					{% else %}
						<div class="header-nav-item nav-dropdown">
							<a class="dropdown-btn" href="#">{{ nav_dict['creativity'].title }}</a>
							<div class="dropdown">
								{% for subnavs in nav_dict['creativity'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['join_us'].subnavs == [] %}
						<a class="header-nav-item {% if cur_nav_meta_name == 'join_us' %}chosen{% endif %}" href="{{ nav_dict['join_us'].link }}">{{ nav_dict['join_us'].title }}</a>
					{% else %}
						<div class="header-nav-item nav-dropdown">
							<a class="dropdown-btn" href="#">{{ nav_dict['join_us'].title }}</a>
							<div class="dropdown">
								{% for subnavs in nav_dict['join_us'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['shop'].subnavs == [] %}
						<a class="header-nav-item {% if cur_nav_meta_name == 'shop' %}chosen{% endif %}" href="{{ nav_dict['shop'].link }}">{{ nav_dict['shop'].title }}</a>
					{% else %}
						<div class="header-nav-item nav-dropdown">
							<a class="dropdown-btn" href="#">{{ nav_dict['shop'].title }}</a>
							<div class="dropdown">
								{% for subnavs in nav_dict['shop'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['contact'].subnavs == [] %}
						<a class="header-nav-item {% if cur_nav_meta_name == 'contact' %}chosen{% endif %}" href="{{ nav_dict['contact'].link }}">{{ nav_dict['contact'].title }}</a>
					{% else %}
						<div class="header-nav-item nav-dropdown">
							<a class="dropdown-btn" href="#">{{ nav_dict['contact'].title }}</a>
							<div class="dropdown">
								{% for subnavs in nav_dict['contact'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					<form action="/search" method="POST">
						<input name="key" type="text" placeholder="{{ _('Please input search content') }}">
					</form>
				</nav>
			</div>
		</div>
		{% endblock %}
	</header>
	<main>
		<div class="main-container">
			{% block main %}
			{% endblock %}
		</div>
	</main>
	<footer>
		<div class="footer-container">
			{% block footer %}
			<div class="footer-info">
			<ul>
				<p>{{ company_name }}</p>
				<p>{{ _('Service Hotline: ') }}{{ service_phone }}</p>
				<p>{{ _('Address: ') }}{{ company_location }}</p>
				<p>{{ _('ICP Licensing: ') }}{{ site_filing_num }}</p>
<!-- 				<p>广东省汕头市澄海区岫泓玩具</p>
				<p>服务热线：0754-86986938</p>
				<p>地址：汕头市澄海区莱美工业区海升路2号</p>
				<p>备案编号：ISD900876544</p> -->
			</div>
			<img id="qr-code" src="{{ url_for('static', filename='img/icon/qr-code.png') }}" alt="qr-code">
			{% endblock %}	
		</div>
	</footer>
	{% block script %}
	<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/swiper-3.3.1.min.js') }}"></script>
	{% endblock %}
</body>
</html>
