{% extends "pc/base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.all.min.js') }}"> </script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
{% endblock %}
{% block title %}创意中心{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock %}
{% block main %}
	<div class="editor-container">
		<script id="editor" type="text/plain"></script>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/creativity.js') }}"></script>
{% endblock %}