{% extends "pc/base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{ nav_dict['creativity'].title }}{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/creativity.css') }}">
{% endblock %}
{% block main %}
	<div class="creativity-container">
		<h1>{{ _("Design it yourself") }}</h1>
		<p>{{ _("Your design work, design concept and design inspiration are welcomed.") }}</p>
		<p>{{ _("Regardless of your job, you can show your originality about baby toys.") }}</p>
		<p>{{ _("If your work or originality are adopted, there will be huge rewards for you!") }}</p>
		<p>{{ _("Draw down your originality or just upload file directly!") }}</p>
		<div class="sketch-setting">
			<div class="color-choice">
				<label>{{ _("color") }}</label>
				<a href="#" id="choose-color"></a>
			</div>
			<div class="color-dropdown hidden">
				<a href="#creativity-sketch" data-color="#f00" style="background-color: #f00"></a>
				<a href="#creativity-sketch" data-color="#ff0" style="background-color: #ff0"></a>
				<a href="#creativity-sketch" data-color="#0f0" style="background-color: #0f0"></a>
				<a href="#creativity-sketch" data-color="#0ff" style="background-color: #0ff"></a>
				<a href="#creativity-sketch" data-color="#00f" style="background-color: #00f"></a>
				<a href="#creativity-sketch" data-color="#f0f" style="background-color: #f0f"></a>
				<a href="#creativity-sketch" data-color="#000" style="background-color: #000"></a>
				<a href="#creativity-sketch" data-color="#fff" style="background-color: #fff"></a>
			</div>
			<div class="size-choice">
				<label>{{ _("size") }}</label>
				<a href="#" id="choose-size">5</a>
			</div>
			<div class="size-dropdown hidden">
				<a href="#creativity-sketch" data-size="3">3</a>
				<a href="#creativity-sketch" data-size="5">5</a>
				<a href="#creativity-sketch" data-size="8">8</a>
				<a href="#creativity-sketch" data-size="10">10</a>
				<a href="#creativity-sketch" data-size="12">12</a>
				<a href="#creativity-sketch" data-size="15">15</a>
			</div>
		</div>
		<canvas id="creativity-sketch" width="980" height="440"></canvas>
		<form class="creativity-form" name="work-form" action="/creativity/post" method="post">
			<div class="form-item">
				<label>{{ _("choose file") }}</label>
				<input type="file" name="work" />
			</div>
			<div class="form-item">
				<h3>{{ _("verify your mobile phone before upload") }}</h3>
			</div>
			<div class="form-item form-verify-phone">
				<label>{{ _("phone") }}</label>
				<input type="text" id="mobile" placeholder='{{ _("please input phone number") }}' />
				<button>{{ _("send code") }}</button>
				<div class="alert-hint hidden"></div>
			</div>
			<div class="form-item form-verify-code">
				<label>{{ _("verify code") }}</label>
				<input type="text" id="verify-code" placeholder='{{ _("please input verify code") }}' />
				<div class="alert-hint hidden">
					验证码有误请重试
				</div>
			</div>
			<div class="form-item">
				<input type="submit" value='{{ _("submit") }}' />
			</div>
		</form>
		<div id="upload-hint" class="hidden">{{ _("upload succeed") }}</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
<script src="{{ url_for('static', filename='js/creativity.js') }}"></script>
{% endblock %}
