{% extends "pc/base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}创意中心{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/creativity.css') }}">
{% endblock %}
{% block main %}
	<div class="creativity-container">
		<h1>你来当设计师</h1>
		<p>我们诚挚欢迎心音的设计作品、设计概念、设计灵感。不论你是来自哪一行业，不论你是学生或已在职，</p>
		<p>都可以提交对婴幼儿玩具的创意。作品入选或是创意采用，将有丰厚奖励！</p>
		<p>在下面画出你心中的创意，或者直接选择文件上传吧！</p>
		<canvas id="creativity-sketch" width="980" height="440"></canvas>
		<form action="">
			<div class="form-item">
				<label>选择文件</label>
				<input type="file" name="work" />
			</div>
			<div class="form-item">
				<h3>清验证手机号码后提交你的设计</h3>
			</div>
			<div class="form-item form-verify-phone">
				<label>手机号</label>
				<input type="text" placeholder="请输入手机号码" />
				<button>发送验证码</button>
			</div>
			<div class="form-item form-verify-code">
				<label>验证码</label>
				<input type="text" placeholder="请输入验证码" />
			</div>
			<div class="form-item">
				<input type="submit" />
			</div>
		</form>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
<script src="{{ url_for('static', filename='js/creativity.js') }}"></script>
{% endblock %}