{% extends "pc/base.html" %}
{% block title %}{{ nav_dict['join_us'].title }}{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/join_us.css') }}">
{% endblock %}
{% block main %}
		<div class="join-container">
			<div class="join-type-nav">
				<ul>
					<li><a class="cooperate chosen" href="#">{{ _("Cooperation") }}</a></li>
					<li><a class="recruit" href="#">{{ _("Recruitment") }}</a></li>
				</ul>
			</div>
			<div class="join-page-container">
				<div class="join-cooperate">
					<form class="join-form" name="join-form" action="/join_us/cooperation/post" method="post">
						<div class="form-item">
							<label>{{ _("name") }}</label>
							<input id="name" type="text" />
							<div class="alert-hint hidden"></div>
						</div>
						<div class="form-item">
							<label>{{ _("contact") }}</label>
							<input id="contact" type="text" />
							<div class="alert-hint hidden"></div>
						</div>
						<div class="form-item">
							<label>{{ _("region") }}</label>
							<input id="zone" type="text" />
							<div class="alert-hint hidden"></div>
						</div>
						<div class="form-item">
							<label>{{ _("supervisor") }}</label>
							<input id="shop_range" type="text" />
							<div class="alert-hint hidden"></div>
						</div>
						<div class="form-item">
							<label>{{ _("plan") }}</label>
							<textarea id="develop_plan"></textarea>
							<div class="alert-hint hidden"></div>
						</div>
						<div class="form-item">
							<label>{{ _("intention") }}</label>
							<textarea id="cooperation_intention"></textarea>
							<div class="alert-hint hidden"></div>
						</div>
						<div class="form-split"></div>
						<div class="form-item form-verify-phone">
							<label>{{ _("phone") }}</label>
							<input id="mobile" type="text" placeholder='{{ _("please input phone number") }}' />
							<button>{{ _("send code") }}</button>
							<div class="alert-hint hidden"></div>
						</div>
						<div class="form-item form-verify-code">
							<label>{{ _("verify code") }}</label>
							<input id="valid-code" type="text" placeholder='{{ _("please input verify code") }}' />
							<div class="alert-hint hidden"></div>
						</div>
						<div class="form-item">
							<input type="submit" value='{{ _("submit") }}'/>
						</div>
					</form>
					<div id="upload-hint" class="hidden">{{ _("upload succeed") }}</div>
				</div>
				<div class="join-recruit hidden">
					<h1>{{ _("Job information") }}</h1>
					<div class="split"></div>
					<div class="job-container">
						{% autoescape false %}
							{{ page.content }}
						{% endautoescape %}
					</div>
<!-- 					<ul class="job-list">
						<li class="job-item">
							<img class="job-img" src="{{ url_for('static', filename='img/temp/about.png') }}" alt="job-img">
							<div class="job-info">
								<h3>
									职位名称
								</h3>
								<p>
									一点寒芒先到随后枪出如龙一点寒芒先到随后枪出如龙一点寒芒先到随后枪出如龙一点寒芒先到随后枪出如龙
									一点寒芒先到随后枪出如龙
									一点寒芒先到随后枪出如龙
									一点寒芒先到随后枪出如龙一点寒芒先到随后枪出如龙一点寒芒先到随后枪出如龙一点寒芒先到随后枪出如龙一点寒芒先到随后枪出如龙
								</p>
							</div>
						</li>
						<li class="job-item">
							<img class="job-img" src="{{ url_for('static', filename='img/temp/about.png') }}" alt="job-img">
							<div class="job-info">
								<h3>
									职位名称
								</h3>
								<p>
									一点寒芒先到随后枪出如龙
								</p>
							</div>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/join_us.js') }}"></script>
{% endblock %}
