{% extends "pc/base.html" %}
{% block title %}比爱首页{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block main %}
		<div class="banner-block">
			<div class="swiper-container">
				<div class="swiper-wrapper">
	 				<div class="swiper-slide" id="slide-1"><img src="{{ url_for('static', filename='img/banner/1.png') }}" alt="1"></div>
					<div class="swiper-slide" id="slide-2"><img src="{{ url_for('static', filename='img/banner/1.png') }}" alt="2"></div>
					<div class="swiper-slide" id="slide-3"><img src="{{ url_for('static', filename='img/banner/1.png') }}" alt="3"></div>
	{# 				{% for banner_img in banner_list %}
						<div class="swiper-slide" id="slide-{{ index }}"><img src="/static/{{ banner_img.get_file_path() }}" alt="{{ index }}"></div>
					{% endfor %} #}
				</div>
			    <div class="swiper-button-prev"></div>
			    <div class="swiper-button-next"></div>
			</div>			
		</div>
		<div class="product-block">
			<div class="product-header">
				<img src="{{ url_for('static', filename='img/icon/monkey.png') }}" alt="monkey">
				<span class="title">产品分类</span>
			</div>
			<nav class="product-nav">
	 			<a href="#" id="yaoling" class="product-nav-item">摇铃</a>
				<a href="#" id="chuangling" class="product-nav-item">床铃</a>
				<a href="#" id="jianshen" class="product-nav-item">健身架</a>
				<a href="#" id="yizhi" class="product-nav-item">益智玩具</a>
				<a href="#" id="other" class="product-nav-item">其他</a>
			</nav>
		</div>
{# 		<nav class="product-nav">

			{% for product in product_category_list %}
				<a href="#" class="product-nav-item">{{ product }}</a>
			{% endfor %}
		</nav> #}
		<div class="consult-video-block">
			<div class="consult-block">
				<div class="consult-header">
					<h3>公司资讯</h3>
					<a href="#">查看更多>></a>
				</div>
				<ul class="consult-list">
					<li><a href="#">标题1</a><span>2016-07-22</span></li>
					<li><a href="#">标题1</a><span>2016-07-22</span></li>
					<li><a href="#">标题1</a><span>2016-07-22</span></li>
					<li><a href="#">标题1</a><span>2016-07-22</span></li>
					<li><a href="#">标题1</a><span>2016-07-22</span></li>
					<li><a href="#">标题1</a><span>2016-07-22</span></li>
					<li><a href="#">标题1</a><span>2016-07-22</span></li>
				</ul>
			</div>
			<div class="video-block">
				<div class="video-header">
					<h3>产品视频</h3>
				</div>
				{# <video src=""></video> #}
				<div class="video-content">
					<img src="{{ url_for('static', filename='img/temp/video.png') }}" alt="video">
				</div>
				<div class="video-menu">
					<a id="list-up" href="#"><img src="{{ url_for('static', filename='img/icon/video-button.png') }}" alt="up"></a>
					<ul class="video-list">
						<li><a href="#"><img src="{{ url_for('static', filename='img/temp/video1.png') }}" alt="1"></a></li>
						<li><a href="#"><img src="{{ url_for('static', filename='img/temp/video2.png') }}" alt="2"></a></li>
						<li><a href="#"><img src="{{ url_for('static', filename='img/temp/video3.png') }}" alt="3"></a></li>
					</ul>
					<a id="list-down" href="#"><img src="{{ url_for('static', filename='img/icon/video-button.png') }}" alt="down"></a>
				</div>
			</div>
		</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}