{% extends "pc/base.html" %}
{% block title %}比爱首页{% endblock %}
{% block main %}
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" id="slide-1"><img src="{{ url_for('static', filename='img/1.jpg') }}" alt="1"></div>
				<div class="swiper-slide" id="slide-2"><img src="{{ url_for('static', filename='img/2.jpg') }}" alt="2"></div>
				<div class="swiper-slide" id="slide-3"><img src="{{ url_for('static', filename='img/3.jpg') }}" alt="3"></div>
				{# {{ banner_list }} #}
			</div>
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>
		</div>
		<nav class="product-nav">
			<a href="#" class="product-nav-item">摇铃</a>
			<a href="#" class="product-nav-item">床铃</a>
			<a href="#" class="product-nav-item">健身架</a>
			<a href="#" class="product-nav-item">益智玩具</a>
			<a href="#" class="product-nav-item">其他</a>
			{# {{ product_category_list }} #}
		</nav>
		<div class="video-block">
			<div class="consult-block">
				公司咨询
				{# {{ consult_page_content }} #}
			</div>
			<div class="video">
{# 				<video width="400" height="400" controls>
					<source src="video/1.mp4" type="video/mp4">
					您的浏览器不支持Video标签。
				</video> #}
				{# {{ video_list }} #}
			</div>
			<nav class="video-list">
				<span>产品视频目录</span>
				<a class="video-tab tab-active" href="#">比爱小小乐队</a>
				<a class="video-tab" href="#">苹果乐园 蘑菇乐园</a>
				<a class="video-tab" href="#">音乐转转乐</a>
			</nav>
		</div>	
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}