{% extends "pc/base.html" %}
{% block title %}新闻动态{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}
{% block main %}
		<div class="news-container">
			<div class="news-type-nav">
				<ul>
					{% for news_category in news_category_list %}
						{% if news_category == current_category %}
							<li><a class="chosen" href="/news/category/{{ news_category.name }}/1">{{ news_category.name }}</a></li>
						{% else %}
							<li><a href="/news/category/{{ news_category.name }}/1">{{ news_category.name }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="news-page-container">
				<div class="news-page">
					<div class="news-page-path">
						<a href="/news">新闻动态</a>><a href="/news/category/{{ current_category.name }}/1">{{ current_category.name }}</a>><a href="/news/{{ news.id }}">{{ news.title }}</a>
					</div>
					<div class="news-page-content">
						{% autoescape false %}
							{{ news.content }}
						{% endautoescape %}
					</div>
				</div>
			</div>
		</div>
{% endblock %}