{% extends "pc/base.html" %}
{% block title %}新闻动态{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}
{% block main %}
		<div class="news-container">
			<div class="news-type-nav">
				<ul>
					<li><a class="chosen" href="#">比爱早教</a></li>
					<li><a href="#">企业新闻</a></li>
				</ul>
			</div>
			<div class="news-page-container">
				<div class="news-page">
					<div class="news-page-path">
						<a href="#">新闻动态</a>><a href="#">比爱早教</a>><a href="">宝宝玩具的选择要点</a>
					</div>
					<div class="news-page-content">
					</div>
				</div>
			</div>
		</div>
{% endblock %}