{% extends "pc/base.html" %}
{% block title %}新闻动态{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news_list.css') }}">
{% endblock %}
{% block main %}
		<div class="news-container">
			<div class="news-type-nav">
				<ul>
					<li><a class="chosen" href="#">比爱早教</a></li>
					<li><a href="#">企业新闻</a></li>
				</ul>
			</div>
			<div class="news-list-container">
				<div class="news-list">
					<div class="news-list-content">
						<h3>比爱早教</h3>
						<ul>
							<li><a href="#">宝宝玩具的选择要点</a></li>
							<li><a href="#">给孩子立规矩的十九原则</a></li>
							<li><a href="#">一点寒芒先到，随后枪出如龙</a></li>
							<li><a href="#">我们心有灵犀，不是么</a></li>
							<li><a href="#">给孩子选玩具的原则</a></li>
							<li><a href="#">上班族妈妈们，不这样陪孩子，当心孩子就跟你们不亲了</a></li>
							<li><a href="#">正确帮宝宝洗澡的好方法</a></li>
						</ul>
					</div>
				</div>
				<div class="news-page-nav">
					<ul>
						<li id="last-page"><a href="#">上一页</a></li>
						<li class="chosen"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li id="next-page"><a href="#">下一页</a></li>
					</ul>
				</div>
			</div>
		</div>
{% endblock %}