{% extends "pc/base.html" %}
{% block title %}{{ nav_dict['product'].title }}{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_list.css') }}">
{% endblock %}
{% block main %}
		<div class="product-list-container">
			<div class="product-type-nav">
				<ul>
					{% for product_category in product_category_list %}
						{% if product_category == current_category %}
							<li><a class="chosen" href="/product/category/{{ product_category.name }}/1">{{ product_category.name }}</a></li>
						{% else %}
							<li><a href="/product/category/{{ product_category.name }}/1">{{ product_category.name }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="product-content-container">
				<div class="product-content">
					{% for product in product_list %}
						<a href="/product/{{ product.id }}" class="product-item">
							<div class="img-container">
								{% if product.get_pics() != [] %}
									<img src="{{ url_for('static', filename=product.get_pics()[0]) }}" alt="product-item">
								{% else %}
									<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
								{% endif %}
							</div>
							<h3>{{ product.name }}</h3>
						</a>
					{% endfor %}
{# 					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a>
					<a href="/product/1" class="product-item">
						<div class="img-container">
							<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
						</div>
						<h3>闪光保龄球</h3>
					</a> #}
				</div>
				<div class="product-page-nav">
{#  					<ul>
						<li class="disabled" id="last-page"><a>上一页</a></li>
						<li class="chosen"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li id="next-page"><a href="#">下一页</a></li>
					</ul> #}
					<ul>
						{% if page_info['cur'] == page_info['min'] %}
							<li class="disabled" id="last-page"><a>{{ _("Prev") }}</a></li>
						{% else %}
							<li id="last-page"><a href="/product/category/{{ current_category.name }}/{{ page_info['cur']-1 }}">{{ _("Prev") }}</a></li>
						{% endif %}
						{% if page_info['cur']-page_info['min'] > 2 %}
							{% set min = page_info['cur'] - 2 %}
						{% else %}
							{% set min = page_info['min'] %}
						{% endif %}
						{% if page_info['max']-page_info['cur'] > 2 %}
							{% set max = page_info['cur'] + 2 %}
						{% else %}
							{% set max = page_info['max'] %}
						{% endif %}
						{% for i in range(min, max+1) %}
							{% if i == page_info['cur'] %}
								<li class="chosen"><a href="/product/category/{{ current_category.name }}/{{ i }}">{{ i }}</a></li>
							{% else %}
								<li><a href="/product/category/{{ current_category.name }}/{{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}
						{% if page_info['cur'] == page_info['max'] %}
							<li class="disabled" id="next-page"><a>{{ _("Next") }}</a></li>
						{% else %}
							<li id="next-page"><a href="/product/category/{{ current_category.name }}/{{ page_info['cur']+1 }}">{{ _("Next") }}</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
{% endblock %}
