<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-3.3.1.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link href="http://vjs.zencdn.net/5.11.6/video-js.css" rel="stylesheet">
	{% endblock %}
	{% endblock %}
</head>
<body>
	<header>
		{% block header %}
			<div class="header-slogan">
				<img src="{{ url_for('static', filename='img/icon/slogan.png') }}" alt="slogan">
			</div>
			<div class="header-block">
				<a class="nav-button" href="#"><i class="fa fa-bars"></i></a>
				<div class="header-nav hidden">
<!-- 					<a class="header-nav-item" href="{{ nav_dict['main'].link }}">{{ nav_dict['main'].title }}</a>
					<a class="header-nav-item" href="{{ nav_dict['about'].link }}">{{ nav_dict['about'].title }}</a>
					<a class="header-nav-item" href="{{ nav_dict['news'].link }}">{{ nav_dict['news'].title }}</a>
					<a class="header-nav-item" href="{{ nav_dict['product'].link }}">{{ nav_dict['product'].title }}</a>
					<a class="header-nav-item" href="{{ nav_dict['join_us'].link }}">{{ nav_dict['join_us'].title }}</a>
					<a class="header-nav-item" href="#">官方商城</a>
					<a class="header-nav-item" href="{{ nav_dict['contact'].link }}">{{ nav_dict['contact'].title }}</a> -->
					{% if nav_dict['main'].subnavs == [] %}
						<a class="header-nav-item" href="{{ nav_dict['main'].link }}">{{ nav_dict['main'].title }}</a>
					{% else %}
						<div class="header-nav-item">
							<a class="dropdown-btn" href="#">{{ nav_dict['main'].title }}</a>
							<div class="dropdown hidden">
								{% for subnavs in nav_dict['main'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['about'].subnavs == [] %}
						<a class="header-nav-item" href="{{ nav_dict['about'].link }}">{{ nav_dict['about'].title }}</a>
					{% else %}
						<div class="header-nav-item">
							<a class="dropdown-btn" href="#">{{ nav_dict['about'].title }}</a>
							<div class="dropdown hidden">
								{% for subnavs in nav_dict['about'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['news'].subnavs == [] %}
						<a class="header-nav-item" href="{{ nav_dict['news'].link }}">{{ nav_dict['news'].title }}</a>
					{% else %}
						<div class="header-nav-item">
							<a class="dropdown-btn" href="#">{{ nav_dict['news'].title }}</a>
							<div class="dropdown hidden">
								{% for subnavs in nav_dict['news'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['product'].subnavs == [] %}
						<a class="header-nav-item" href="{{ nav_dict['product'].link }}">{{ nav_dict['product'].title }}</a>
					{% else %}
						<div class="header-nav-item">
							<a class="dropdown-btn" href="#">{{ nav_dict['product'].title }}</a>
							<div class="dropdown hidden">
								{% for subnavs in nav_dict['product'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['join_us'].subnavs == [] %}
						<a class="header-nav-item" href="{{ nav_dict['join_us'].link }}">{{ nav_dict['join_us'].title }}</a>
					{% else %}
						<div class="header-nav-item">
							<a class="dropdown-btn" href="#">{{ nav_dict['join_us'].title }}</a>
							<div class="dropdown hidden">
								{% for subnavs in nav_dict['join_us'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['shop'].subnavs == [] %}
						<a class="header-nav-item" href="{{ nav_dict['shop'].link }}">{{ nav_dict['shop'].title }}</a>
					{% else %}
						<div class="header-nav-item">
							<a class="dropdown-btn" href="#">{{ nav_dict['shop'].title }}</a>
							<div class="dropdown hidden">
								{% for subnavs in nav_dict['shop'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if nav_dict['contact'].subnavs == [] %}
						<a class="header-nav-item" href="{{ nav_dict['contact'].link }}">{{ nav_dict['contact'].title }}</a>
					{% else %}
						<div class="header-nav-item">
							<a class="dropdown-btn" href="#">{{ nav_dict['contact'].title }}</a>
							<div class="dropdown hidden">
								{% for subnavs in nav_dict['contact'].subnavs %}
									<a href="{{ subnavs.link }}">{{ subnavs.title }}</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
				<form action="/search" method="POST">
					<input class="search-bar" name="key" type="text" placeholder="请输入搜索内容">
				</form>
				{% if locale == "zh_CN" %}
					<a class="language" href="http://{{ site_domain }}">En</a>
				{% else %}
					<a class="language" href="http://{{ site_domain }}">中</a>
				{% endif %}
				<!-- <a class="language" href="#">En</a> -->
			</div>
		{% endblock %}
	</header>
	<main>
		{% block main %}
		{% endblock %}
	</main>
	<footer>
		{% block footer %}
		<div class="footer-img">
			<img id="qr-code" src="{{ url_for('static', filename='img/icon/qr-code.png') }}" alt="qr-code">
			<img class="footer-icon" src="{{ url_for('static', filename='img/icon/monkey2.png') }}" alt="icon">
		</div>
		<div class="footer-info">
			<ul>
				<li>{{ company_name }}</li>
				<li>服务热线：{{ service_phone }}</li>
				<li>地址：{{ company_location }}</li>
				<li>备案编号{{ site_filing_num }}</li>
<!-- 				<li>广东省汕头市澄海区岫泓玩具</li>
				<li>服务热线：0754-86986938</li>
				<li>地址：汕头市澄海区莱美工业区海升路2号</li>
				<li>备案编号：ISD900876544</li> -->
			</ul>
		</div>
		{% endblock %}
	</footer>
	{% block script %}
	<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/swiper-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base_mb.js') }}"></script>
	{% endblock %}
</body>
</html>