{% extends "mb/base.html" %}
{% block title %}联系我们{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact_mb.css') }}">
{% endblock %}
{% block main %}
	<div class="contact-container">
		<h1>联系我们</h1>
		<div class="split"></div>
		<div class="contact-content">
			{% autoescape false %}
				{{ page.content }}
			{% endautoescape %}
<!-- 		<ul class="contact-list">
			<li>地址：汕头市澄海区莱美工业区海升路2号岫泓玩具厂</li>
			<li>电话：0754-86986868</li>
			<li>传真：0754-86986938</li>
			<a href="#">比爱企业店</a>
		</ul> -->
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/about_mb.js') }}"></script>
{% endblock %}