{% extends "mb/base.html" %}
{% block title %}{{ nav_dict['join_us'].title }}{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/join_us_mb.css') }}">
{% endblock %}
{% block main %}
	<div class="join-container">
		<div class="join-type-nav">
			<div class="nav-header">
			</div>
			<ul class="nav-list">
				<li><a class="cooperate chosen" href="#">{{ _("Cooperation") }}</a></li>
				<li><a class="recruit" href="#">{{ _("Recruitment") }}</a></li>
			</ul>
		</div>
		<div class="join-page-container">
			<div class="join-cooperate">
				<form class="join-form" action="#">
					<div class="form-item">
						<label>{{ _("name") }}</label>
						<input id="name" type="text" />
						<div class="alert-hint hidden"></div>
					</div>
					<div class="form-item">
						<label>{{ _("contact") }}</label>
						<input id="contact" type="text" />
						<div class="alert-hint hidden"></div>
					</div>
					<div class="form-item">
						<label>{{ _("region") }}</label>
						<input id="zone" type="text" />
						<div class="alert-hint hidden"></div>
					</div>
					<div class="form-item">
						<label>{{ _("supervisor") }}</label>
						<input id="shop_range" type="text" />
						<div class="alert-hint hidden"></div>
					</div>
					<div class="form-item">
						<label>{{ _("plan") }}</label>
						<textarea id="develop_plan"></textarea>
						<div class="alert-hint hidden"></div>
					</div>
					<div class="form-item">
						<label>{{ _("intention") }}</label>
						<textarea id="cooperation_intention"></textarea>
						<div class="alert-hint hidden"></div>
					</div>
					<div class="form-split"></div>
					<div class="form-item form-verify-phone">
						<label>{{ _("phone") }}</label>
						<input id="mobile" type="text"/>
						<div class="alert-hint hidden"></div>
					</div>
					<div class="form-item form-verify-code">
						<label>{{ _("verify") }}</label>
						<input id="valid-code" type="text"/>
						<button>{{ _("send code") }}</button>
						<div class="alert-hint hidden"></div>
					</div>
					<div class="form-item">
						<input type="submit" value='{{ _("submit") }}'/>
					</div>
				</form>
			</div>
			<div class="join-recruit hidden">
				<div class="job-content">
					{% autoescape false %}
						{{ page.content }}
					{% endautoescape %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/join_us_mb.js') }}"></script>
{% endblock %}
