{% extends "mb/base.html" %}
{% block title %}比爱首页{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_mb.css') }}">
{% endblock %}
{% block main %}
	<div class="banner-block">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for banner_img in banner_list %}
					<div class="swiper-slide" id="slide-{{ index }}"><img src="/static/{{ banner_img.get_file_path() }}" alt="{{ index }}"></div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="product-block">
		<div class="product-header">
			<span class="title">产品分类</span>
		</div>
		<nav class="product-nav">
<!-- 			{% for product in product_category_list|reverse %}
				<a href="/product/category/{{ product.name }}" class="product-nav-item" style="background-image: url('static/{{ product.get_file_path() }}')">{{ product.name }}</a>
			{% endfor %}	 -->
			<a href="#" class="product-nav-item" style="background-image: url('static/img/icon-mb/yaoling.png')">摇铃</a>
			<a href="#" class="product-nav-item" style="background-image: url('static/img/icon-mb/chuangling.png')">床铃</a>
			<a href="#" class="product-nav-item" style="background-image: url('static/img/icon-mb/jianshen.png')">健身架</a>
			<a href="#" class="product-nav-item" style="background-image: url('static/img/icon-mb/yizhi.png')">益智玩具</a>
			<a href="#" class="product-nav-item" style="background-image: url('static/img/icon-mb/other.png')">其他</a>
		</nav>
	</div>
	<div class="video-block">
		<div class="video-header">
			<span class="title">产品视频</span>
		</div>
		<div class="video-content">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% if video_list != [] %}
						{% for video in video_list %}
							<div class="swiper-slide" id="slide-{{ index }}">
								<video id="my-video" class="video-js" controls preload="auto"
								  poster="{{ url_for('static', filename=video.get_pic_path()) }}" data-setup="{}">
								    <source src="{{ url_for('static', filename=video.get_file_path()) }}" type='video/mp4'>
								    <p class="vjs-no-js">
								      To view this video please enable JavaScript, and consider upgrading to a web browser that
								      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
								    </p>
								</video>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="swiper-controller">
				<div class="button-prev">上一个</div>
			    <div class="button-next">下一个</div>
			</div>
		</div>
	</div>
	<div class="consult-block">
		<div class="consult-header">
			<span class="title">公司资讯</span>
		</div>
		<ul class="consult-list">
			{% for consult in consult_page_content %}
				<li><a href="/news/{{ consult.id }}">{{ consult.title }}</a><span>2016-07-22</span></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main_mb.js') }}"></script>
<script src="http://vjs.zencdn.net/5.11.6/video.js"></script>
{% endblock %}