{% extends "mb/base.html" %}
{% block title %}新闻动态{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news_mb.css') }}">
{% endblock %}
{% block main %}
	<div class="news-container">
		<div class="news-path">
			<a href="#">新闻动态</a>><a href="#">比爱早教</a>><a href="">宝宝玩具选择的要点</a>
		</div>
		<div class="news-page-content">
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main_mb.js') }}"></script>
{% endblock %}