{% extends "mb/base.html" %}
{% block title %}新闻动态{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news_mb.css') }}">
{% endblock %}
{% block main %}
	<div class="news-container">
		<div class="news-path">
			<a href="/news">新闻动态</a>><a href="/news/category/{{ current_category.name }}/1">{{ current_category.name }}</a>><a href="/news/{{ news.id }}">{{ news.title }}</a>
		</div>
		<div class="news-page-content">
			{% autoescape false %}
				{{ news.content }}
			{% endautoescape %}
		</div>
	</div>
{% endblock %}
