{% extends "mb/base.html" %}
{% block title %}{{ nav_dict['news'].title }}{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news_mb.css') }}">
{% endblock %}
{% block main %}
	<div class="news-container">
		<div class="news-path">
			<a href="/news">{{ _("news") }}</a>><a href="/news/category/{{ current_category.name }}/1">{{ current_category.name }}</a>><a href="/news/{{ news.id }}">{{ news.title }}</a>
		</div>
		<div class="news-page-content">
			<h3 class="news-title">{{ news.title }}</h3>
			<div class="news-content">
				{% autoescape false %}
					{{ news.content }}
				{% endautoescape %}
			</div>	
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/news_mb.js') }}"></script>
{% endblock %}
