{% extends "mb/base.html" %}
{% block title %}产品中心{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_list_mb.css') }}">
{% endblock %}
{% block main %}
	<div class="product-list-container">
		<div class="product-category-nav">
			<div class="nav-header">
			</div>
			<ul class="nav-list">
				{% for product_category in product_category_list %}
					{% if product_category == current_category %}
						<li><a class="chosen" href="/product/category/{{ product_category.name }}/1">{{ product_category.name }}</a></li>
					{% else %}
						<li><a href="/product/category/{{ product_category.name }}/1">{{ product_category.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="product-list-page">
			<div class="page-content">
<!-- 				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a>
				<a href="#" class="product-item">
					<div class="img-container">
						<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
					</div>
					<h3>超级无敌酷炫比爱新玩具嘿嘿嘿</h3>
				</a> -->
				{% for product in product_list %}
					<a href="/product/{{ product.id }}" class="product-item">
						<div class="img-container">
							{% if product.get_pics() != [] %}
								<img src="{{ url_for('static', filename=product.get_pics()[0]) }}" alt="product-item">
							{% else %}
								<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
							{% endif %}			
						</div>
						<h3>{{ product.name }}</h3>
					</a>
				{% endfor %}
			</div>
			<div class="page-nav">
				<nav>
					{% if page_info['cur'] == page_info['min'] %}
						<a class="disabled" id="last-page" href="/product/category/{{ current_category.name }}/{{ page_info['cur']-1 }}">{{ _("Prev") }}</a>
					{% else %}
						<a id="last-page" href="/product/category/{{ current_category.name }}/{{ page_info['cur']-1 }}">{{ _("Prev") }}</a>
					{% endif %}
					{% if page_info['cur']-page_info['min'] > 2 %}
						{% set min = page_info['cur'] - 2 %}
					{% else %}
						{% set min = page_info['min'] %}
					{% endif %}
					{% if page_info['max']-page_info['cur'] > 2 %}
						{% set max = page_info['cur'] + 2 %}
					{% else %}
						{% set max = page_info['max'] %}
					{% endif %}
					{% for i in range(min, max+1) %}
						{% if i == page_info['cur'] %}
							<a class="chosen" href="/product/category/{{ current_category.name }}/{{ i }}">{{ i }}</a>
						{% else %}
							<a href="/product/category/{{ current_category.name }}/{{ i }}">{{ i }}</a>
						{% endif %}
					{% endfor %}
					{% if page_info['cur'] == page_info['max'] %}
						<a class="disabled" id="last-page" href="/product/category/{{ current_category.name }}/{{ page_info['cur']+1 }}">{{ _("Next") }}</a>
					{% else %}
						<a id="next-page" href="/product/category/{{ current_category.name }}/{{ page_info['cur']+1 }}">{{ _("Next") }}</a>
					{% endif %}
				</nav>
			</div>
		</div>
	</div>
{% endblock %}
