{% extends "mb/base.html" %}
{% block title %}搜索结果{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search_product_list_mb.css') }}">
{% endblock %}
{% block main %}
	<div class="product-list-container">
		<div class="search-info">搜索结果:{{ key }}</div>
		<div class="product-list-page">
			<div class="page-content">
				{% for product in product_list %}
					<a href="/product/{{ product.id }}" class="product-item">
						<div class="img-container">
							{% if product.get_pics() != [] %}
								<img src="{{ url_for('static', filename=product.get_pics()[0]) }}" alt="product-item">
							{% else %}
								<img src="{{ url_for('static', filename='img/temp/product-item.png') }}" alt="product-item">
							{% endif %}			
						</div>
						<h3>{{ product.name }}</h3>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
