/******************************admin category******************************/
.admin-list-container {
  position: relative;
  padding: 30px 50px; }
  .admin-list-container h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee; }

.list-title {
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #eee; }
  .list-title div {
    float: left; }

.title-username,
.title-password,
.title-realname {
  padding-left: 20px;
  width: 300px; }

.admin-item {
  overflow: hidden;
  padding-right: 10px;
  border-bottom: 1px solid #ddd; }

.admin-username,
.admin-password,
.admin-realname {
  padding-left: 20px;
  width: 300px;
  float: left;
  overflow: hidden; }
  .admin-username span,
  .admin-password span,
  .admin-realname span {
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    margin: 15px 0;
    height: 20px;
    width: 340px;
    float: left; }
  .admin-username input,
  .admin-password input,
  .admin-realname input {
    margin: 8px 0;
    outline: 0;
    float: left;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc; }
    .admin-username input:focus,
    .admin-password input:focus,
    .admin-realname input:focus {
      border-color: #66afe9; }

.item-controller {
  height: 50px;
  line-height: 50px;
  float: right; }

.admin-name {
  color: #333; }

.add-btn {
  padding: 10px;
  position: absolute;
  right: 60px;
  top: 40px; }

.delete-btn,
.modify-btn,
.cancel-btn,
.submit-btn {
  font-size: 14px;
  padding: 5px 20px; }

.submit-btn,
.modify-btn {
  margin-right: 10px; }
