/******************************subnav******************************/
.cooperation-list-container {
  position: relative;
  padding: 30px 50px; }
  .cooperation-list-container h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee; }

.list-title {
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #eee; }
  .list-title div {
    float: left; }

.title-name,
.title-phone {
  padding-left: 20px;
  width: 280px; }

.cooperation-item {
  overflow: hidden;
  padding-right: 10px;
  border-bottom: 1px solid #ddd; }

.cooperation-name,
.cooperation-mobile {
  padding-left: 20px;
  width: 280px;
  float: left;
  overflow: hidden; }
  .cooperation-name span,
  .cooperation-mobile span {
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    margin: 15px 0;
    height: 20px;
    width: 400px;
    float: left; }

.item-controller {
  height: 50px;
  line-height: 50px;
  float: right; }

.delete-btn,
.detail-btn {
  font-size: 14px;
  padding: 5px 20px; }
