/******************************creativity******************************/
.creativity-container {
  position: relative;
  padding: 30px 50px; }
  .creativity-container h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee; }

.return-btn {
  padding: 8px 18px;
  position: absolute;
  right: 60px;
  top: 40px; }

.creativity-display ul {
  width: 900px; }

.creativity-display li {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }
  .creativity-display li span {
    float: left;
    width: 80%;
    height: 34px;
    padding: 6px 12px; }
  .creativity-display li label {
    float: left;
    width: 20%;
    height: 34px;
    line-height: 34px;
    text-align: right;
    padding-right: 20px; }
  .creativity-display li img {
    max-width: 700px;
    max-height: 300px;
    margin-bottom: 10px; }
  .creativity-display li button {
    float: right;
    padding: 5px 20px; }

.creativity-file {
  width: 700px;
  float: left; }

.alert-hint {
  position: absolute;
  right: 60px;
  top: 0;
  height: 34px;
  line-height: 34px;
  color: #ff7676; }
