/******************************base style******************************/
* {
  box-sizing: inherit; }

img {
  border: none; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif; }

header, main, footer {
  min-width: 1440px; }

.header-container-white,
.header-nav-container,
.main-container,
.footer-container {
  width: 1440px;
  margin: 0 auto; }

.header-container-purple {
  width: 100%;
  background-color: #9193d5; }

main {
  background-color: #d5d5f0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3 {
  margin: 0; }

a {
  text-decoration: none; }

footer {
  background-color: #9193d5; }

.footer-container {
  height: 206px;
  padding: 0 169px 0 169px;
  background-image: url("../img/icon/monkey2.png");
  background-repeat: no-repeat;
  background-position: 850px 20px;
  background-size: 240px; }
  .footer-container .footer-info {
    color: #fbd7a4;
    font-size: 12px;
    margin-top: 40px;
    float: left; }
  .footer-container #qr-code {
    width: 150px;
    margin-top: 30px;
    float: right; }

.logo {
  float: left; }

.header-block {
  position: relative;
  height: 69px;
  margin: 19px 169px; }

.header-link {
  position: absolute;
  right: 0;
  bottom: 0; }
  .header-link .link-item {
    font-size: 12px;
    margin-left: 40px;
    color: #8d8d8d;
    display: inline-block; }

#wechat-link {
  width: 82px;
  text-indent: 20px;
  background-image: url("../img/icon/wechat.png");
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-size: 16px; }

#tmall-link {
  width: 86px;
  text-indent: 36px;
  background-image: url("../img/icon/tmall.png");
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-size: 32px; }

.header-nav {
  padding: 0 169px; }
  .header-nav .header-nav-item {
    font-size: 18px;
    height: 56px;
    line-height: 56px;
    width: 107px;
    text-align: center;
    color: #d5d5f0;
    float: left;
    position: relative; }
    .header-nav .header-nav-item:hover {
      color: #ffffff; }
  .header-nav .chosen {
    color: #ffffff; }
  .header-nav input {
    padding-left: 35px;
    font-size: 14px;
    height: 36px;
    margin: 10px 0;
    width: 240px;
    border-radius: 6px;
    background-image: url("../img/icon/search-icon.png");
    background-repeat: no-repeat;
    background-position: 10px 7px;
    background-size: 18px; }

.nav-active {
  background-color: rgba(160, 145, 145, 0.2); }

.nav-dropdown {
  height: 56px;
  line-height: 56px; }
  .nav-dropdown a {
    color: #d5d5f0; }
  .nav-dropdown:hover .dropdown-btn {
    color: #ffffff; }
  .nav-dropdown:hover .dropdown {
    display: block; }

.nav-dropdown {
  position: relative; }

.dropdown-btn:after {
  font-family: FontAwesome;
  content: "\f0dd";
  position: relative;
  bottom: 3px;
  left: 4px; }

.dropdown-btn:hover {
  color: #ffffff; }

.dropdown {
  width: 107px;
  position: absolute;
  left: 0;
  top: 56px;
  background-color: #9391d5;
  z-index: 999;
  display: none; }
  .dropdown a {
    font-size: 15px;
    display: block;
    width: 100%;
    height: 56px;
    color: white;
    text-align: center;
    line-height: 56px; }
    .dropdown a:hover {
      background-color: #7d7fc9; }

/******************************creativity page******************************/
.main-container {
  width: 100%;
  background-color: #d5d5f0;
  padding-top: 40px;
  padding-bottom: 40px; }

.creativity-container {
  margin: 0px auto 60px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 60px;
  width: 1102px; }
  .creativity-container h1 {
    font-size: 30px;
    color: #9193d5;
    margin-bottom: 30px; }
  .creativity-container p {
    font-size: 14px;
    color: #777777;
    margin-top: 0;
    margin-bottom: 12px; }

.sketch-setting {
  position: relative; }

.color-choice,
.size-choice {
  display: inline-block;
  height: 40px;
  width: 200px;
  line-height: 40px;
  overflow: hidden; }
  .color-choice label,
  .size-choice label {
    float: left;
    margin-right: 20px; }
  .color-choice a,
  .size-choice a {
    float: left;
    width: 50px;
    height: 40px; }

.color-choice a {
  border: 1px solid #777777;
  background-color: #000; }

.color-dropdown {
  position: absolute;
  width: 50px;
  left: 84px;
  top: 40px; }
  .color-dropdown a {
    display: block;
    width: 50px;
    height: 40px; }

#choose-size {
  background-color: #ccc; }

.size-dropdown {
  position: absolute;
  width: 50px;
  left: 288px;
  top: 40px;
  box-sizing: border-box;
  border: 1px solid #777777; }
  .size-dropdown a {
    background-color: #ccc;
    color: #000000;
    text-align: center;
    line-height: 40px;
    display: block;
    width: auto;
    height: 40px;
    border-bottom: 1px solid #777777; }
  .size-dropdown > a:last-child {
    border: none; }

.size-choice a {
  color: #000000;
  text-align: center;
  border: 1px solid #777777; }

#creativity-sketch {
  background-color: #d5d5f0;
  margin-top: 10px;
  margin-bottom: 30px; }

.form-item {
  margin-bottom: 20px;
  padding: 0 270px;
  overflow: hidden;
  position: relative; }
  .form-item label {
    float: left;
    text-align: right;
    height: 35px;
    width: 90px;
    line-height: 35px;
    margin-right: 10px; }
  .form-item input[type="text"] {
    border: 1px solid #bebebe;
    border-radius: 6px;
    height: 35px;
    float: left;
    width: 340px; }
  .form-item input[type="submit"] {
    color: #ffffff;
    background-color: #f18e43;
    border: none;
    border-radius: 6px;
    width: 180px;
    height: 48px;
    display: block;
    margin: 10px auto;
    font-size: 15px; }
  .form-item h3 {
    text-align: center;
    font-size: 18px; }

.form-verify-phone input[type="text"] {
  width: 230px;
  margin-right: 10px; }

.form-verify-phone button {
  color: #ffffff;
  background-color: #f18e43;
  border: none;
  border-radius: 6px;
  width: 100px;
  height: 35px; }

.form-verify-phone .disabled {
  background-color: #ccbfb5; }

.alert-hint {
  position: absolute;
  right: 100px;
  top: 5px;
  width: 150px;
  color: #ff7676; }

.hidden {
  display: none; }

#upload-hint {
  width: 200px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -100px;
  border: 1px solid #777777;
  text-align: center;
  line-height: 80px;
  background-color: #ffffff;
  border-radius: 5px; }
