/******************************base style******************************/
* {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  background-color: #e2e2f4; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3 {
  margin: 0; }

a {
  text-decoration: none; }

header, main, footer {
  width: 100%;
  margin: 0 auto; }

header {
  background-color: #ffffff; }

.header-slogan {
  width: 56%;
  padding: 5px 0;
  margin: auto; }
  .header-slogan img {
    width: 100%; }

.header-block {
  position: relative;
  background-color: #9193d5;
  height: 50px; }

.nav-button {
  float: left;
  width: 14%;
  height: 100%;
  text-align: center; }
  .nav-button i {
    font-size: 1.3rem;
    color: #ffffff;
    line-height: 50px; }

.header-nav {
  z-index: 999;
  background-color: #9799d7;
  position: absolute;
  top: 49px;
  width: 100%; }
  .header-nav a {
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    display: block;
    width: 100%; }

.header-nav-item {
  border-bottom: 1px solid #a8a9c1; }

.dropdown-btn:after {
  font-family: FontAwesome;
  content: "\f0dd";
  position: relative;
  bottom: 3px;
  left: 4px; }

.dropdown {
  background-color: #afb0d2; }

.search-bar {
  float: left;
  width: 72%;
  height: 34px;
  margin-top: 8px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center; }

.language {
  float: left;
  width: 14%;
  height: 100%;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 50px;
  text-align: center; }

footer {
  padding-top: 20px;
  padding-bottom: 10px; }

.footer-img {
  width: 70%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 10px; }

#qr-code {
  width: 36%;
  float: left; }

.footer-icon {
  width: 55%;
  float: right; }

.footer-info {
  width: 80%;
  margin: auto; }
  .footer-info li {
    text-align: center;
    margin-bottom: 3px;
    font-size: 0.8rem;
    color: #ffffff; }

.hidden {
  display: none; }

/******************************main page******************************/
.join-type-nav {
  background-color: #e2e2f4; }

.nav-header {
  height: 55px;
  background-image: url("../img/icon/title4.png");
  background-repeat: no-repeat;
  background-position: 10px 10px; }

.nav-list {
  overflow: hidden; }
  .nav-list li {
    float: left;
    width: 50%;
    text-align: center;
    height: 35px; }
  .nav-list a {
    display: block;
    color: #777777;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    border-bottom: 1px solid #9193d5; }
  .nav-list .chosen {
    color: #5c5ec2;
    border-bottom: 2px solid #5c5ec2; }

.join-page-container {
  background-color: #ffffff;
  padding: 30px 0; }

.join-cooperate {
  width: 90%;
  margin: auto; }

.form-item {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden; }
  .form-item label {
    float: left;
    width: 25%;
    text-align: right;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    color: #777777;
    margin-right: 10px; }
  .form-item input {
    float: left;
    width: 70%;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px; }
  .form-item textarea {
    resize: none;
    float: left;
    width: 70%;
    height: 120px;
    font-size: 1rem;
    border-radius: 5px; }
  .form-item input[type="submit"] {
    color: #ffffff;
    background-color: #f18e43;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    display: block;
    font-size: 1rem; }

.form-split {
  width: 100%;
  border-top: 1px solid #d5d5f0;
  margin-top: 40px;
  margin-bottom: 40px; }

.form-verify-code input[type="text"] {
  width: 35%;
  margin-right: 10px; }

.form-verify-code button {
  color: #ffffff;
  background-color: #f18e43;
  border: none;
  border-radius: 6px;
  width: 30%;
  height: 35px; }

.alert-hint {
  float: right;
  width: 70%;
  text-align: left;
  color: #ff7676; }

.join-recruit {
  padding: 0 15px; }

.job-content {
  width: 100%; }

.hidden {
  display: none; }
