/******************************news category******************************/
.join-container {
  position: relative;
  padding: 30px 50px; }
  .join-container h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee; }

.join-content {
  width: 830px; }

.form-item {
  width: 840px;
  margin-top: 10px; }
  .form-item button {
    float: right;
    padding: 5px 20px; }

.submit-btn {
  margin-right: 10px; }

.modify-btn {
  padding: 10px 20px;
  position: absolute;
  right: 60px;
  top: 40px; }
