/******************************base style******************************/
* {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  background-color: #e2e2f4; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3 {
  margin: 0; }

a {
  text-decoration: none; }

header, main, footer {
  width: 100%;
  margin: 0 auto; }

header {
  background-color: #ffffff; }

.header-slogan {
  width: 56%;
  padding: 5px 0;
  margin: auto; }
  .header-slogan img {
    width: 100%; }

.header-block {
  position: relative;
  background-color: #9193d5;
  height: 50px; }

.nav-button {
  float: left;
  width: 14%;
  height: 100%;
  text-align: center; }
  .nav-button i {
    font-size: 1.3rem;
    color: #ffffff;
    line-height: 50px; }

.header-nav {
  z-index: 999;
  background-color: #9799d7;
  position: absolute;
  top: 49px;
  width: 100%; }
  .header-nav a {
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    display: block;
    width: 100%; }

.header-nav-item {
  border-bottom: 1px solid #a8a9c1; }

.dropdown-btn:after {
  font-family: FontAwesome;
  content: "\f0dd";
  position: relative;
  bottom: 3px;
  left: 4px; }

.dropdown {
  background-color: #afb0d2; }

.search-bar {
  float: left;
  width: 72%;
  height: 34px;
  margin-top: 8px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center; }

.language {
  float: left;
  width: 14%;
  height: 100%;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 50px;
  text-align: center; }

footer {
  padding-top: 20px;
  padding-bottom: 10px; }

.footer-img {
  width: 70%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 10px; }

#qr-code {
  width: 36%;
  float: left; }

.footer-icon {
  width: 55%;
  float: right; }

.footer-info {
  width: 80%;
  margin: auto; }
  .footer-info li {
    text-align: center;
    margin-bottom: 3px;
    font-size: 0.8rem;
    color: #ffffff; }

.hidden {
  display: none; }

/******************************main page******************************/
.banner-block {
  background-color: #ffffff; }
  .banner-block img {
    width: 100%; }

.product-block {
  background-color: #ffffff;
  margin-bottom: 10px; }

.product-header {
  height: 40px;
  line-height: 40px;
  text-indent: 1rem; }
  .product-header span {
    color: #f8487e;
    font-size: 1.2rem; }

.product-nav {
  overflow: hidden;
  border-top: 1px solid #fba3be;
  border-bottom: 1px solid #fba3be; }
  .product-nav a {
    float: left;
    width: 20%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-right: 1px solid #fba3be;
    background-position-y: 40px;
    color: #000000;
    text-align: center;
    line-height: 35px;
    font-size: 0.9rem; }
  .product-nav > a:last-child {
    border: none; }

.video-block {
  background-color: #ffffff;
  margin-bottom: 10px; }

.video-header {
  height: 40px;
  line-height: 40px;
  text-indent: 1rem; }
  .video-header span {
    color: #ac6de1;
    font-size: 1.2rem; }

.video-content {
  position: relative; }
  .video-content .video-js {
    width: 100%; }
  .video-content video {
    width: 100%; }
  .video-content .vjs-big-play-button {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.swiper-controller {
  overflow: hidden; }
  .swiper-controller .swiper-button-disabled {
    color: #cfcfcf; }

.button-next,
.button-prev {
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center; }

.consult-block {
  min-height: 220px;
  background-color: #ffffff; }

.consult-header {
  height: 40px;
  line-height: 40px;
  text-indent: 1rem; }
  .consult-header span {
    color: #f87968;
    font-size: 1.2rem; }

.consult-list {
  overflow: hidden; }
  .consult-list li {
    text-indent: 1rem;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding: 0; }
    .consult-list li a {
      font-size: 1.1rem;
      color: #000000;
      float: left;
      width: 67%; }
    .consult-list li span {
      text-indent: 0;
      font-size: 1rem;
      color: #cecece;
      float: left;
      text-align: right; }
