/******************************base style******************************/
* {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif; }

header, main, footer {
  width: 1440px;
  margin: 0 auto; }

main {
  padding: 1px;
  background-color: #d5d5f0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3 {
  margin: 0; }

a {
  text-decoration: none; }

footer {
  background-color: #9193d5;
  height: 206px;
  padding: 0 169px 0 169px;
  background-image: url("../img/icon/monkey2.png");
  background-repeat: no-repeat;
  background-position: 850px 20px;
  background-size: 240px; }
  footer .footer-info {
    color: #fbd7a4;
    font-size: 12px;
    margin-top: 40px;
    float: left; }
  footer #qr-code {
    width: 150px;
    margin-top: 30px;
    float: right; }

.logo {
  float: left; }

.header-block {
  position: relative;
  height: 69px;
  margin: 19px 169px; }

.header-link {
  position: absolute;
  right: 0;
  bottom: 0; }
  .header-link .link-item {
    font-size: 12px;
    margin-left: 40px;
    color: #8d8d8d;
    display: inline-block; }

#wechat-link {
  width: 82px;
  text-indent: 20px;
  background-image: url("../img/icon/wechat.png");
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-size: 16px; }

#tmall-link {
  width: 86px;
  text-indent: 36px;
  background-image: url("../img/icon/tmall.png");
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-size: 32px; }

.header-nav {
  padding: 0 169px;
  background-color: #9193d5; }
  .header-nav .header-nav-item {
    font-size: 18px;
    height: 56px;
    line-height: 56px;
    width: 107px;
    text-align: center;
    color: #d5d5f0;
    float: left;
    position: relative; }
    .header-nav .header-nav-item:hover {
      color: #ffffff; }
  .header-nav .chosen {
    color: #ffffff; }
  .header-nav input {
    padding-left: 35px;
    font-size: 14px;
    height: 36px;
    margin: 10px 0;
    width: 240px;
    border-radius: 6px;
    background-image: url("../img/icon/search-icon.png");
    background-repeat: no-repeat;
    background-position: 10px 7px;
    background-size: 18px; }

.nav-active {
  background-color: rgba(160, 145, 145, 0.2); }

.nav-dropdown {
  height: 56px;
  line-height: 56px; }
  .nav-dropdown a {
    color: #d5d5f0; }
  .nav-dropdown:hover .dropdown-btn {
    color: #ffffff; }
  .nav-dropdown:hover .dropdown {
    display: block; }

.nav-dropdown {
  position: relative; }

.dropdown-btn:after {
  font-family: FontAwesome;
  content: "\f0dd";
  position: relative;
  bottom: 3px;
  left: 4px; }

.dropdown-btn:hover {
  color: #ffffff; }

.dropdown {
  width: 107px;
  position: absolute;
  left: 0;
  top: 56px;
  background-color: #9391d5;
  z-index: 999;
  display: none; }
  .dropdown a {
    font-size: 15px;
    display: block;
    width: 100%;
    height: 56px;
    color: white;
    text-align: center;
    line-height: 56px; }
    .dropdown a:hover {
      background-color: #7d7fc9; }

/******************************news page******************************/
.news-container {
  margin: 40px 169px 100px 169px;
  overflow: hidden; }

.news-type-nav {
  float: left;
  width: 160px;
  padding-top: 62px;
  padding-bottom: 8px;
  background-color: #fce9cb;
  border-radius: 10px;
  background-image: url("../img/icon/title.png");
  background-repeat: no-repeat;
  background-position: 36px 16px; }
  .news-type-nav ul {
    width: 144px;
    background-color: #ffffff;
    border-radius: 6px;
    margin: auto; }
    .news-type-nav ul li {
      text-align: center;
      line-height: 42px;
      width: 100px;
      height: 42px;
      margin: auto;
      border-bottom: 1px solid #e6e5f4; }
      .news-type-nav ul li a {
        color: #b5b4b3;
        font-size: 14px; }
      .news-type-nav ul li .chosen {
        position: relative;
        color: #b4b3dd;
        font-size: 15px; }
        .news-type-nav ul li .chosen:after {
          font-family: FontAwesome;
          content: "\f0da";
          position: relative;
          left: 4px; }
    .news-type-nav ul > li:last-child {
      border-bottom: none; }

.news-page-container {
  width: 920px;
  float: right;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 6px; }

.news-page {
  border-radius: 10px;
  border: 2px solid #d5d5f0;
  height: 756px;
  padding: 20px 36px 50px 36px; }

.news-page-path {
  padding-bottom: 2px;
  border-bottom: 1px solid #c0c0c0;
  color: #787878; }
  .news-page-path a {
    color: #787878; }

.news-title {
  font-size: 22px;
  text-align: center;
  margin: 30px 0; }
