/******************************video******************************/
.video-list-container {
  position: relative;
  padding: 30px 50px; }
  .video-list-container h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee; }

.list-title {
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #eee; }
  .list-title div {
    float: left; }

.title-name,
.title-weight {
  padding-left: 20px;
  width: 150px; }

.title-img,
.title-video {
  padding-left: 20px;
  width: 250px; }

.video-item {
  overflow: hidden;
  padding-right: 10px;
  border-bottom: 1px solid #ddd; }

.video-name,
.video-weight {
  padding-left: 20px;
  width: 150px;
  float: left;
  overflow: hidden; }
  .video-name span,
  .video-weight span {
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    margin: 15px 0;
    height: 20px;
    width: 280px;
    float: left; }
  .video-name input,
  .video-weight input {
    margin: 8px 0;
    outline: 0;
    float: left;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc; }
    .video-name input:focus,
    .video-weight input:focus {
      border-color: #66afe9; }

.video-img {
  padding-left: 20px;
  width: 250px;
  float: left; }
  .video-img img {
    max-width: 220px;
    max-height: 200px;
    margin: 15px 0; }
  .video-img input {
    margin: 8px 0;
    outline: 0;
    float: left;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc; }
    .video-img input:focus {
      border-color: #66afe9; }

.video-content {
  padding-left: 20px;
  width: 280px;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px; }
  .video-content .vjs-big-play-button {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.add-btn {
  padding: 10px;
  position: absolute;
  right: 60px;
  top: 40px; }

.item-controller {
  height: 50px;
  line-height: 50px;
  float: right; }

.process-bar-container {
  float: right;
  height: 50px;
  width: 150px; }

.process-bar {
  background: #14e814;
  height: 26px;
  text-indent: 5px;
  width: 0;
  margin-top: 12px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5px; }

.nav-name {
  color: #333; }

.delete-btn,
.cancel-btn,
.submit-btn {
  font-size: 14px;
  padding: 5px 20px; }

.submit-btn,
.subnav-btn {
  margin-right: 10px; }
