<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base_admin.css') }}">
	{% endblock %}
	{% endblock %}
</head>
<body>
	<header>
		<h2 class="brand-name">
			比爱后台管理系统
		</h2>
		<div class="user-info">
			<a class="user-button" href="#">
				饭团先森
			</a>
			<ul class="user-controller hidden">
				<li><a href="/admin/logout">退出登录</a></li>
			</ul>
		</div>
	</header>
	<nav class="sidebar">
		<ul>
			<li><a class="active" href="#">新闻管理</a></li>
			<li><a href="#">产品管理</a></li>
			<li><a href="#">首页管理</a></li>
			<li><a href="#">人才招聘</a></li>
		</ul>
	</nav>
	<main>
		{% block main %}
		{% endblock %}
	</main>
	{% block script %}
	<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/admin_base.js') }}"></script>
	{% endblock %}
</body>
</html>