<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	{% endblock %}
	{% endblock %}
</head>
<body>
	<header>
		<h2 class="brand-name">
			比爱后台管理系统
		</h2>
		<div class="user-info">
			<a class="user-button" href="#">
				{% if current_user.username %}
					{{ current_user.username }}
				{% else %}
				    饭团先森
				{% endif %}
			</a>
			<ul class="user-controller hidden">
				<li><a href="/admin/logout">退出登录</a></li>
			</ul>
		</div>
	</header>
	<nav class="sidebar">
		<ul>
			<li><a class="nav" href="/admin/nav">导航栏</a></li>
			<li><a class="banner" href="/admin/banner">首页轮播</a></li>
			<li><a class="video" href="/admin/video">首页视频</a></li>
			<li><a class="information" href="/admin/information">首页资讯</a></li>
			<li><a class="news-category" href="/admin/news_category">新闻分类</a></li>
			<li><a class="news" href="/admin/news">新闻条目</a></li>
			<li><a class="product-category" href="/admin/product_category">产品分类</a></li>
			<li><a class="product" href="/admin/product">产品条目</a></li>
			<li><a class="creativity" href="/admin/creativity">创意中心</a></li>
			<li><a class="contact" href="/admin/contact/modify">联系我们</a></li>
			<li><a class="cooperation" href="/admin/cooperation">合作加盟</a></li>
			<li><a class="join_us" href="/admin/join_us/modify">人才招聘</a></li>
			<li><a class="about" href="/admin/about/modify">关于我们</a></li>
		</ul>
	</nav>
	<main>
		{% block main %}
		{% endblock %}
	</main>
	{% block script %}
	<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base_admin.js') }}"></script>
	{% endblock %}
</body>
</html>