{% extends "admin/base.html" %}
{% block title %}导航栏管理{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav_admin.css') }}">
{% endblock %}
{% block main %}
	<div class="nav-list-container">
		<div class="nav-list-display">
			<h1>导航栏管理</h1>
			<div class="list-title">
				<div class="title-name">导航名</div>
				<div class="title-link">导航链接</div>
			</div>
			<ul class="nav-list">
				<li class="nav-item">
					<div class="nav-title">
						<span class="item-display">{{ main_nav.title }}</span>
						<input class="title item-input hidden" type="text" value="{{ main_nav.title }}">
					</div>
					<div class="nav-link">
						<span class="item-display">{{ main_nav.link }}</span>
						<input class="link item-input hidden" type="text" value="{{ main_nav.link }}">
					</div>
					<div class="item-controller">
						<a class="subnav-btn button-simple" href="/admin/nav/{{ main_nav.id }}/subnav">子导航</a>
						<a class="modify-btn button-simple" href="#">修改</a>
						<a data-id="{{ main_nav.id }}" class="hidden submit-btn button-simple" href="#">提交</a>
						<a class="hidden cancel-btn button-simple" href="#">取消</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="nav-title">
						<span class="item-display">{{ about_nav.title }}</span>
						<input class="title item-input hidden" type="text" value="{{ about_nav.title }}">
					</div>
					<div class="nav-link">
						<span class="item-display">{{ about_nav.link }}</span>
						<input class="link item-input hidden" type="text" value="{{ about_nav.link }}">
					</div>
					<div class="item-controller">
						<a class="subnav-btn button-simple" href="/admin/nav/{{ about_nav.id }}/subnav">子导航</a>
						<a class="modify-btn button-simple" href="#">修改</a>
						<a data-id="{{ about_nav.id }}" class="hidden submit-btn button-simple" href="#">提交</a>
						<a class="hidden cancel-btn button-simple" href="#">取消</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="nav-title">
						<span class="item-display">{{ news_nav.title }}</span>
						<input class="title item-input hidden" type="text" value="{{ news_nav.title }}">
					</div>
					<div class="nav-link">
						<span class="item-display">{{ news_nav.link }}</span>
						<input class="link item-input hidden" type="text" value="{{ news_nav.link }}">
					</div>
					<div class="item-controller">
						<a class="subnav-btn button-simple" href="/admin/nav/{{ news_nav.id }}/subnav">子导航</a>
						<a class="modify-btn button-simple" href="#">修改</a>
						<a data-id="{{ news_nav.id }}" class="hidden submit-btn button-simple" href="#">提交</a>
						<a class="hidden cancel-btn button-simple" href="#">取消</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="nav-title">
						<span class="item-display">{{ product_nav.title }}</span>
						<input class="title item-input hidden" type="text" value="{{ product_nav.title }}">
					</div>
					<div class="nav-link">
						<span class="item-display">{{ product_nav.link }}</span>
						<input class="link item-input hidden" type="text" value="{{ product_nav.link }}">
					</div>
					<div class="item-controller">
						<a class="subnav-btn button-simple" href="/admin/nav/{{ product_nav.id }}/subnav">子导航</a>
						<a class="modify-btn button-simple" href="#">修改</a>
						<a data-id="{{ product_nav.id }}" class="hidden submit-btn button-simple" href="#">提交</a>
						<a class="hidden cancel-btn button-simple" href="#">取消</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="nav-title">
						<span class="item-display">{{ creativity_nav.title }}</span>
						<input class="title item-input hidden" type="text" value="{{ creativity_nav.title }}">
					</div>
					<div class="nav-link">
						<span class="item-display">{{ creativity_nav.link }}</span>
						<input class="link item-input hidden" type="text" value="{{ creativity_nav.link }}">
					</div>
					<div class="item-controller">
						<a class="subnav-btn button-simple" href="/admin/nav/{{ creativity_nav.id }}/subnav">子导航</a>
						<a class="modify-btn button-simple" href="#">修改</a>
						<a data-id="{{ creativity_nav.id }}" class="hidden submit-btn button-simple" href="#">提交</a>
						<a class="hidden cancel-btn button-simple" href="#">取消</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="nav-title">
						<span class="item-display">{{ join_us_nav.title }}</span>
						<input class="title item-input hidden" type="text" value="{{ join_us_nav.title }}">
					</div>
					<div class="nav-link">
						<span class="item-display">{{ join_us_nav.link }}</span>
						<input class="link item-input hidden" type="text" value="{{ join_us_nav.link }}">
					</div>
					<div class="item-controller">
						<a class="subnav-btn button-simple" href="/admin/nav/{{ join_us_nav.id }}/subnav">子导航</a>
						<a class="modify-btn button-simple" href="#">修改</a>
						<a data-id="{{ join_us_nav.id }}" class="hidden submit-btn button-simple" href="#">提交</a>
						<a class="hidden cancel-btn button-simple" href="#">取消</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="nav-title">
						<span class="item-display">{{ shop_nav.title }}</span>
						<input class="title item-input hidden" type="text" value="{{ shop_nav.title }}">
					</div>
					<div class="nav-link">
						<span class="item-display">{{ shop_nav.link }}</span>
						<input class="link item-input hidden" type="text" value="{{ shop_nav.link }}">
					</div>
					<div class="item-controller">
						<a class="subnav-btn button-simple" href="/admin/nav/{{ shop_nav.id }}/subnav">子导航</a>
						<a class="modify-btn button-simple" href="#">修改</a>
						<a data-id="{{ shop_nav.id }}" class="hidden submit-btn button-simple" href="#">提交</a>
						<a class="hidden cancel-btn button-simple" href="#">取消</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="nav-title">
						<span class="item-display">{{ contact_nav.title }}</span>
						<input class="title item-input hidden" type="text" value="{{ contact_nav.title }}">
					</div>
					<div class="nav-link">
						<span class="item-display">{{ contact_nav.link }}</span>
						<input class="link item-input hidden" type="text" value="{{ contact_nav.link }}">
					</div>
					<div class="item-controller">
						<a class="subnav-btn button-simple" href="/admin/nav/{{ contact_nav.id }}/subnav">子导航</a>
						<a class="modify-btn button-simple" href="#">修改</a>
						<a data-id="{{ contact_nav.id }}" class="hidden submit-btn button-simple" href="#">提交</a>
						<a class="hidden cancel-btn button-simple" href="#">取消</a>						
					</div>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/nav_admin.js') }}"></script>
{% endblock %}