{% extends "admin/base.html" %}
{% block title %}新闻分类管理{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news_category_list_admin.css') }}">
{% endblock %}
{% block main %}
	<div class="news-category-container">
		<div class="news-category-display">
			<h1>新闻分类管理</h1>
			<button class="add-btn button-simple" type="button">添加分类</button>
			<ul class="category-list">
				<li class="category-item" style="display: none">
					<a class="category-name" href=""></a>
					<div class="item-controller">
						<a data-id="" class="delete-btn button-simple" href="#">删除</a>
					</div>
				</li>
				{% for news_category in news_category_list %}
					<li class="category-item">
						<a class="category-name" href="/admin/news_category/{{ news_category.id }}">{{ news_category.name }}</a>
						<div class="item-controller">
							<a data-id="{{ news_category.id }}" class="delete-btn button-simple" href="#">删除</a>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="news-category-add hidden">
			<h1>添加新闻分类</h1>
			<form class="news-category-form" action="/admin/news_category/create">
				<div class="form-item">
					<label>分类名</label>
					<input id="name" type="text" placeholder="请输入产品分类名" />
					<div class="alert-hint hidden"></div>
				</div>
				<div class="form-item">
					<label>分类权重</label>
					<input id="weight" type="text" placeholder="请输入产品权重" />
					<div class="alert-hint hidden"></div>
				</div>
				<div class="form-item">
					<button class="cancel-btn button-simple" type="button">返回</button>
					<button class="submit-btn button-simple" type="submit">提交</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/news_category_list_admin.js') }}"></script>
{% endblock %}