{% extends "admin/base.html" %}
{% block title %}产品分类管理{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_category_list_admin.css') }}">
{% endblock %}
{% block main %}
	<div class="product-category-container">
		<div class="product-category-display">
			<h1>产品分类管理</h1>
			<button class="add-btn button-simple" type="button">添加分类</button>
			<ul class="category-list">
				{% if product_category_list == [] %}
					<li class="category-item">
						<a class="category-name" href="/admin/product_category/1">产品分类1</a>
						<div class="item-controller">
							<a class="delete-btn" href="#">删除</a>
						</div>
					</li>
				{% else %}
					{% for product_category in product_category_list %}
						<li class="category-item">
							<a class="category-name" href="/admin/product_category/{{ product_category.id }}">{{ product_category.name }}</a>
							<div class="item-controller">
								<a data-id="{{ product_category.id }}" class="delete-btn button-simple" href="#">删除</a>
							</div>
						</li>
					{% endfor %}
				{% endif %}
			</ul>
		</div>
		<div class="product-category-add hidden">
			<h1>添加产品分类</h1>
			<form class="product-category-form" action="/admin/product_category/create">
				<div class="form-item">
					<label>分类名</label>
					<input id="name" type="text" placeholder="请输入产品分类名" />
					<div class="alert-hint hidden"></div>
				</div>
				<div class="form-item">
					<label>分类权重</label>
					<input id="weight" type="text" placeholder="请输入产品权重" />
					<div class="alert-hint hidden"></div>
				</div>
				<div class="form-item">
					<label>分类图片</label>
					<div class="img-block">
						<img src="">
						<button class="button-simple">选择图片</button>
						<input type="file" id="img" class="hidden">
<!-- 						<input id="file_id" class="hidden" type="text" value="" />
						<input id="file_select" type="file" class="hidden" value="" /> -->
						<div class="alert-hint hidden"></div>
					</div>
				</div>
				<div class="form-item">
					<button class="cancel-btn button-simple" type="button">返回</button>
					<button class="submit-btn button-simple" type="submit">提交</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/product_category_list_admin.js') }}"></script>
{% endblock %}