{% extends "admin/base.html" %}
{% block title %}新闻条目管理{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.all.min.js') }}"> </script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_admin.css') }}">
{% endblock %}
{% block main %}
	<div class="product-container">
		<div class="product-display">
			<h1>{{ product.name }}</h1>
			<ul>
				<li>
					<label>产品名字:</label>
					<span class="product-name">{{ product.name }}</span>
				</li>
				<li>
					<label>购买链接:</label>
					<span class="product-buy-link">{{ product.buy_link }}</span>
				</li>
				<li>
					<label>产品分类:</label>
					<span class="product-category">
					{% for category in product.product_categories.all() %}
						{{ category.name }}
					{% endfor %}
					</span>
				</li>
				<li>
					<label>商品属性:</label>
					<div class="product-attr">
					{% for key, value in product.get_attrs().iteritems() %}
						<span>{{ key }}:{{ value }}</span>
					{% endfor %}
					</div>
				</li>
				<li>
					<label>产品属性:</label>
					<div class="product-oth-attr">
					{% for key, value in product.get_oth_attrs().iteritems() %}
						<span>{{ key }}:{{ value }}</span>
					{% endfor %}
					</div>
				</li>
				<li>
					<label>产品图片:</label>
					<div class="product-imgs">
						{% for pic in product.get_pics() %}
						<div class="pic-item">
							<img src="{{ pic }}" alt="">
						</div>
						{% endfor %}
					</div>
				</li>
				<li>
					<label>产品描述:</label>
					<div class="product-description">
					{% autoescape false %}
						{{ product.description }}
					{% endautoescape %}
					</div>
				</li>
				<li>
					<button class="modify-btn button-simple" type="button">修改</button>
				</li>
			</ul>
		</div>
		<div class="product-modify hidden">
			<h1>修改产品</h1>
			<form data-id="{{ product.id }}" class="product-form" action="/admin/product/create">
				<div class="form-item">
					<label>产品名字</label>
					<input id="name" type="text" placeholder="请输入产品名字" />
					<div class="alert-hint hidden"></div>
				</div>
				<div class="form-item">
					<label>产品分类</label>
					<!-- <input id="product_category_id" type="text" placeholder="请输入产品分类" /> -->
					<div class="category-block">
						<select name="product_category_id" class="product_category_id"></select>
					</div>
					<button class="button-simple add-category">添加分类</button>
					<div class="alert-hint hidden"></div>
				</div>
				<div class="form-item form-attr">
					<label>商品属性</label>
					<div id="attrs_" class="attr-block">
						<div class="attr-item">
							<input class="attr-name" type="text" placeholder="例如:主要材料" />
							<input class="attr-value" type="text" placeholder="塑料、橡胶、纸" />
						</div>
					</div>
					<button class="button-simple add-attr">添加属性</button>
				</div>
				<div class="form-item form-attr">
					<label>产品属性</label>
					<div id="oth_attrs_" class="attr-block">
						<div class="attr-item">
							<input class="attr-name" type="text" placeholder="例如:产品货号" />
							<input class="attr-value" type="text" placeholder="BG687983" />
						</div>
					</div>
					<button class="button-simple add-attr">添加属性</button>
				</div>
				<div class="form-item form-img">
					<label>产品图片</label>
					<div id="product_img" class="img-block">
						<div class="img-item" style="display: none">
							<img src="" alt="">
							<input class="hidden file_id" type="text" value="" />
							<input class="hidden file_change" type="file" value="" />
							<button class="delete-img button-simple">删除</button>
							<button class="change-img button-simple">修改</button>
						</div>
					</div>
					<input class="hidden file-select" type="file" value="" />
					<button class="button-simple add-img">添加图片</button>
				</div>
				<div class="form-item form-editor">
					<label>产品描述</label>
					<div class="editor-container">
						<script id="editor" type="text/plain"></script>
					</div>
					<div class="alert-hint hidden"></div>
				</div>

				<div class="form-item form-btns">
					<button class="cancel-btn button-simple" type="button">返回</button>
					<button class="submit-btn button-simple" type="submit">提交</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/product_admin.js') }}"></script>
{% endblock %}