{% extends "admin/base.html" %}
{% block title %}导航栏管理{% endblock %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/subnav_admin.css') }}">
{% endblock %}
{% block main %}
	<div class="subnav-list-container">
		<div class="subnav-list-display">
			<h1>{{ nav.title }}</h1>
			<button class="add-btn button-simple" type="button">添加子导航</button>
			<ul class="subnav-list">
				<li class="subnav-item" style="display: none">
					<div class="subnav-title">
						<span class="item-display hidden"></span>
						<input class="title item-input" type="text" value="">
					</div>
					<div class="subnav-link">
						<span class="item-display hidden"></span>
						<input class="link item-input" type="text" value="">
					</div>
					<div class="item-controller">
						<a data-id="" class="hidden delete-btn button-simple" href="#">删除</a>
						<a data-navid="{{ nav.id }}" class="submit-btn button-simple" href="#">提交</a>
						<a class="cancel-btn button-simple" href="#">取消</a>
					</div>
				</li>
				{% for subnav in subnav_list %}
					<li class="subnav-item">
						<div class="subnav-title">
							<span class="item-display">{{ subnav.title }}</span>
							<input class="title item-input hidden" type="text" value="{{ subnav.title }}">
						</div>
						<div class="subnav-link">
							<span class="item-display">{{ subnav.link }}</span>
							<input class="link item-input hidden" type="text" value="{{ subnav.link }}">
						</div>
						<div class="item-controller">
							<a data-id="{{ subnav.id }}" class="delete-btn button-simple" href="#">删除</a>
							<a class="hidden submit-btn button-simple" href="#">提交</a>
							<a class="hidden cancel-btn button-simple" href="#">取消</a>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/subnav_admin.js') }}"></script>
{% endblock %}