/******************************base style******************************/
* {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
	background-color: #e2e2f4;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

header, main, footer {
	width: 100%;
	margin: 0 auto;
}

header {
	background-color: #ffffff;
}

.header-slogan {
	width: 56%;
	padding: 5px 0;
	margin: auto;
	img {
		width: 100%;
	}
}

.header-block {
	position: relative;
	background-color: #9193d5;
	height: 50px;
}

.nav-button {
	float: left;
	width: 14%;
	height: 100%;
	text-align: center;
	i {
		font-size: 1.3rem;
		color: #ffffff;
		line-height: 50px;
	}
}

.header-nav {
	z-index: 999;
	background-color: #9799d7;
	position: absolute;
	top: 49px;
	width: 100%;
	a {
		height: 38px;
		line-height: 38px;
		text-align: center;
		color: #ffffff;
		font-size: 1rem;
		display: block;
		width: 100%;
	}
}

.header-nav-item {
	border-bottom: 1px solid #a8a9c1;
}

.dropdown-btn {
	&:after {
		font-family: FontAwesome;
		content: "\f0dd";
		position: relative;
		bottom: 3px;
		left: 4px;
	}
}

.dropdown {
	background-color: #afb0d2;
}

.search-bar {
	float: left;
	width: 72%;
	height: 34px;
	margin-top: 8px;
	border-radius: 10px;
	font-size: 1rem;
	text-align: center;
}

.language {
	float: left;
	width: 14%;
	height: 100%;
	font-size: 1.3rem;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
}


footer {
	padding-top: 20px;
	padding-bottom: 10px;
}

.footer-img {
	width: 70%;
	margin: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

#qr-code {
	width: 36%;
	float: left;
}

.footer-icon {
	width: 55%;
	float: right;
}

.footer-info {
	width: 80%;
	margin: auto;
	li {
		text-align: center;
		margin-bottom: 3px;
		font-size: 0.8rem;
		color: #ffffff;
	}
}

.hidden {
	display: none;
}

/******************************main page******************************/

.about-container {
	padding: 30px 15px;
	overflow: hidden;
	background-color: #ffffff;
	h1 {
		font-size: 1.5rem;
		color: #9193d5;
		margin-bottom: 15px;
	}
}

.about-img {
	img {
		width: 100%;
	}
}

.about-content {
	width: 100%;
}

.split {
	width: 50px;
	border: 1px solid #9193d5;
	margin-bottom: 15px;
}