/******************************news category******************************/

.news-list-container {
	position: relative;
	padding: 30px 50px;
	h1 {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #eee;
	}
}

.news-item {
	height: 50px;
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
}

.item-controller {
	float: right;
}

.add-btn {
	padding: 10px;
	position: absolute;
	right: 60px;
	top: 40px;
}

.news-title {
	color: #333;
}

.delete-btn {
	font-size: 14px;
	padding: 5px 20px;
}

.news-form {
	width: 1124px;
}

.form-item {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	padding-right: 200px;
	label {
		float: left;
		width: 140px;
		height: 34px;
		line-height: 34px;
		text-align: right;
		padding-right: 20px;
	}
	input {
		outline: 0;
		float: left;
		width: 560px;
		height: 34px;
		padding: 6px 12px;
		border-radius: 4px;
		border: 1px solid #ccc;
		&:focus {
			border-color: #66afe9;
		}
	}
	select {
		outline: 0;
		float: left;
		width: 560px;
		height: 34px;
		padding: 6px 12px;
		border-radius: 4px;
		border: 1px solid #ccc;
	}
	button {
		float: right;
		padding: 5px 20px;
	}
	.cancel-btn {
		margin-left: 20px;
	}
}

.form-editor,
.form-btns {
	padding-right: 0;
}

.editor-container {
	float: left;
	width: 80%;
}

.alert-hint {
	position: absolute;
	right: 50px;
	top: 0;
	height: 34px;
	line-height: 34px;
	color: #ff7676;
}

.page-nav {
	margin-top: 20px;
	float: right;
	li {
		border: 1px solid #cccccc;
		float: left;
		height: 32px;
		line-height: 32px;
		width: 32px;
		text-align: center;
		margin-right: 10px;
		cursor: pointer;
		a {
			font-size: 14px;
			color: #000000;
		}
		&:hover {
			background-color: #e6e6e6;
			border-color: #adadad;
		}
	}
	ul > li:last-child {
		margin-right: 0;
	}
	.chosen,
	.disabled {
		background-color: #e6e6e6;
		&:hover {
			border-color: #cccccc;
		}
	}
}

#last-page, #next-page {
	width: 66px;
}