/******************************news category******************************/
header, main {
	min-width: 1500px;
}

.news-container {
	position: relative;
	padding: 30px 50px;
	h1 {
		padding-bottom: 20px;
	}
	h2 {
		font-size: 17px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #eee;
	}
}

.news-content {
	width: 800px;
}

.modify-btn {
	padding: 10px 20px;
	position: absolute;
	right: 60px;
	top: 40px;
}


.news-form {
	width: 962px;
}

.form-item {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	padding-right: 200px;
	label {
		float: left;
		width: 140px;
		height: 34px;
		line-height: 34px;
		text-align: right;
		padding-right: 20px;
	}
	input {
		outline: 0;
		float: left;
		width: 560px;
		height: 34px;
		padding: 6px 12px;
		border-radius: 4px;
		border: 1px solid #ccc;
		&:focus {
			border-color: #66afe9;
		}
	}
	select {
		outline: 0;
		float: left;
		width: 560px;
		height: 34px;
		padding: 6px 12px;
		border-radius: 4px;
		border: 1px solid #ccc;
	}
	button {
		float: right;
		padding: 5px 20px;
	}
	.cancel-btn {
		margin-left: 20px;
	}
}

.form-editor,
.form-btns {
	padding-right: 0;
}

.editor-container {
	float: left;
	width: 80%;
}

.alert-hint {
	position: absolute;
	right: 60px;
	top: 0;
	height: 34px;
	line-height: 34px;
	color: #ff7676;
}


