/******************************base style******************************/

* {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
	background-color: #e2e2f4;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

header, main, footer {
	width: 100%;
	margin: 0 auto;
}

header {
	background-color: #ffffff;
}

.header-slogan {
	width: 56%;
	padding: 5px 0;
	margin: auto;
	img {
		width: 100%;
	}
}

.header-block {
	position: relative;
	background-color: #9193d5;
	height: 50px;
}

.nav-button {
	float: left;
	width: 14%;
	height: 100%;
	text-align: center;
	i {
		font-size: 1.3rem;
		color: #ffffff;
		line-height: 50px;
	}
}

.header-nav {
	z-index: 999;
	background-color: #9799d7;
	position: absolute;
	top: 49px;
	width: 100%;
	padding-bottom: 5px;
	a {
		height: 35px;
		line-height: 35px;
		text-align: center;
		color: #ffffff;
		font-size: 1rem;
		display: block;
		width: 100%;
	}
}

.search-bar {
	float: left;
	width: 72%;
	height: 34px;
	margin-top: 8px;
	border-radius: 10px;
	font-size: 1rem;
	text-align: center;
}

.language {
	float: left;
	width: 14%;
	height: 100%;
	font-size: 1.3rem;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
}


footer {
	padding-top: 20px;
	padding-bottom: 10px;
}

.footer-img {
	width: 70%;
	margin: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

#qr-code {
	width: 36%;
	float: left;
}

.footer-icon {
	width: 55%;
	float: right;
}

.footer-info {
	width: 80%;
	margin: auto;
	li {
		text-align: center;
		margin-bottom: 3px;
		font-size: 0.8rem;
		color: #ffffff;
	}
}

.hidden {
	display: none;
}

/******************************main page******************************/

.product-category-nav {
	background-color: #e2e2f4;
}

.nav-header {
	height: 55px;
	background-image: url('../img/icon/title2.png');
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.nav-list {
	overflow: hidden;
	li {
		float: left;
		width: 20%;
		text-align: center;
		height: 35px;
	}
	a {
		display: block;
		color: #777777;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		font-size: 1rem;
		border-bottom: 1px solid #9193d5;
	}
	.chosen {
		color: #5c5ec2;
		border-bottom: 2px solid #5c5ec2;
	}
}

.product-list-page {
	background-color: #ffffff;
	padding-bottom: 20px;
}

.page-content {
	padding: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	& > div:nth-child(2n+2) {
		margin-right: 0;
	}
}

.product-item {
	float: left;
	width: 48%;
	border: 1px solid #d5d5f0;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 10px 0;
	img {
		display: block;
		margin: auto;
		width: 90%;
	}
	h3 {
		display: block;
		width: 90%;
		margin: auto;
		font-size: 0.8rem;
		color: #5c5ec2;
	}
}

.page-nav {
	margin: auto;
	overflow: hidden;
	text-align: center;
	nav {
		display: inline-block;
	}
	a {
		float: left;
		height: 27px;
		width: 21px;
		line-height: 25px;
		font-size: 0.8rem;
		color: #777777;
		text-align: center;
		margin-right: 10px;
		border: 1px solid #e2e2f4;
	}
	& > a:last-child {
		margin-right: 0;
	}
	.chosen {
		border: none;
		color: #5c5ec2;
	}
	.disabled {
		color: #cfcfcf;
		pointer-events: none;
	}
}

#last-page, #next-page {
	width: 50px;
}