/******************************base style******************************/

* {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
	background-color: #e2e2f4;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

header, main, footer {
	width: 100%;
	margin: 0 auto;
}

header {
	background-color: #ffffff;
}

.header-slogan {
	width: 56%;
	padding: 5px 0;
	margin: auto;
	img {
		width: 100%;
	}
}

.header-block {
	position: relative;
	background-color: #9193d5;
	height: 50px;
}

.nav-button {
	float: left;
	width: 14%;
	height: 100%;
	text-align: center;
	i {
		font-size: 1.3rem;
		color: #ffffff;
		line-height: 50px;
	}
}

.header-nav {
	z-index: 999;
	background-color: #9799d7;
	position: absolute;
	top: 49px;
	width: 100%;
	a {
		height: 38px;
		line-height: 38px;
		text-align: center;
		color: #ffffff;
		font-size: 1rem;
		display: block;
		width: 100%;
	}
}

.header-nav-item {
	border-bottom: 1px solid #a8a9c1;
}

.dropdown-btn {
	&:after {
		font-family: FontAwesome;
		content: "\f0dd";
		position: relative;
		bottom: 3px;
		left: 4px;
	}
}

.dropdown {
	background-color: #afb0d2;
}

.search-bar {
	float: left;
	width: 72%;
	height: 34px;
	margin-top: 8px;
	border-radius: 10px;
	font-size: 1rem;
	text-align: center;
}

.language {
	float: left;
	width: 14%;
	height: 100%;
	font-size: 1.3rem;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
}


footer {
	padding-top: 20px;
	padding-bottom: 10px;
}

.footer-img {
	width: 70%;
	margin: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

#qr-code {
	width: 36%;
	float: left;
}

.footer-icon {
	width: 55%;
	float: right;
}

.footer-info {
	width: 80%;
	margin: auto;
	li {
		text-align: center;
		margin-bottom: 3px;
		font-size: 0.8rem;
		color: #ffffff;
	}
}

.hidden {
	display: none;
}

/******************************main page******************************/

.product-container {
	background-color: #ffffff;
}

.product-path {
	padding-left: 10px;
	background-color: #e2e2f4;
	height: 40px;
	line-height: 40px;
	color: #777777;
	a {
		color: #777777;
		font-size: 0.9rem;
	}
}

.info-block {
	padding-bottom: 40px;
}

.img-info {
	border-bottom: 1px solid #eeeef8;
	img {
		width: 100%;
		height: 300px;
	}
	.swiper-pagination-bullet {
		background: #f3f3fb;
	}
	.swiper-pagination-bullet-active {
		background: #e2e2f4;
	}
}

.text-info {
	width: 92%;
	margin: auto;
}

.buy-link {
	display: block;
	margin: auto;
	font-size: 1.4rem;
	color: #ffffff;
	background-color: #f18e43;
	border: none;
	border-radius: 5px;
	width: 92%;
	text-align: center;
	line-height: 48px;
	height: 48px;
}

.info-first {
	padding: 10px 0;
	border-bottom: 1px solid #eeeef8;
	h2 {
		font-size: 1.4rem;
		margin-bottom: 10px;
	}
	ul {
		overflow: hidden;
	}
	li {
		float: left;
		width: 50%;
		font-size: 0.7rem;
		color: #777777;
		margin-bottom: 5px;
	}
}

.info-second {
	padding: 10px 0;
	li {
		font-size: 0.7rem;
		color: #777777;
		margin-bottom: 5px;
	}
}

.detail-block {
	background-color: #ffffff;
	width: 92%;
	margin: auto;
}

.detail-header {
	height: 35px;
	background-color: #fff4e6;
	border-radius: 5px;
	position: relative;
	background-image: url('../img/icon/title3.png');
	background-position: 65px 4px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	img {
		width: 18%;
		position: absolute;
		top: -35px;
	}
}

.detail-content {
	padding-bottom: 20px;
}
