/******************************base style******************************/

* {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

header, main, footer {
	width: 1500px;
	margin: 20px auto;
}

main {
	min-height: 600px;
}

footer {
	height: 200px;
	.footer-info {
		float: left;
	}
	.qr-code {
		img {
			width: 150px;
			margin: 0 30px;
		}
		float: right;
	}
}

.logo {
	float: left;
}

.header-info {
	display: inline-block;
	margin-top: 30px;
	p {
		margin: 0;
	}
	.header-link {
		font-size: 8px;
	}
}

.header-search {
	display: inline-block;
	float: right;
}

.header-nav {
	margin-top: 20px;
	padding: 0 1px;
	border: 1px solid #5D5D5D;
	border-radius: 8px;
	overflow: hidden;
	text-align: center;
	.header-nav-item {
		color: #5D5D5D;
		float: left;
		width: 187px;
		height: 60px;
		line-height: 60px;
		text-decoration: none;
		&:hover {
			background-color: rgba(160, 145, 145, 0.2);
		}
	}
}

.nav-active {
	background-color: rgba(160, 145, 145, 0.2);
}

/******************************main page******************************/

.product-nav {
	overflow: hidden;
	text-align: center;
	margin: 30px auto;
	width: 1535px;
	.product-nav-item {
		margin-right: 37px;
		color: #5D5D5D;
		float: left;
		width: 270px;
		height: 120px;
		line-height: 120px;
		text-decoration: none;
		border: solid 1px gray;
		border-radius: 8px;
	}
}

.video-block {
	padding: 0 250px 0 350px;
	height: 450px;
}

.consult-block {
	height: 100%;
	border: solid 1px black;
	float: left;
	width: 350px;
	margin-left: -350px;
}

.video {
	height: 100%;
	border: solid 1px black;
	float: left;
	width: 100%;
	video {
		width: 100%;
	}
}

.video-list {
	height: 100%;
	border: solid 1px black;
	float: right;
	width: 250px;
	margin-right: -250px;
	text-align: center;
	span, a {
		float: left;
		width: 100%;
		height: 60px;
		line-height: 60px;
		border-bottom: solid 1px black;
	}
	a {
		&:hover {
			background-color: rgba(160, 145, 145, 0.2);	
		}
		color: #5D5D5D;
		text-decoration: none;
	}
}

.tab-active {
	background-color: rgba(160, 145, 145, 0.2);	
}

.swiper-container {
    height: 600px;
    img {
    	width: 1500px;
    }
}

/******************************about page******************************/

.about-container {
  padding: 10px 30px;
  border: 1px solid #5D5D5D;
  border-radius: 5px;
  p {
  	TEXT-INDENT: 2em;
  }
}

/******************************shop page******************************/

.shop-container {
	li {
		margin-bottom: 17px;
	}
}

/*****************************contact page*****************************/

.contact-container {
	li {
		margin-bottom: 17px;
	}
}
